## We will be building a Movie Recommender System using Machine Learning

### Kaggle Data Set Link : https://www.kaggle.com/datasets/tmdb/tmdb-movie-metadata?select=tmdb_5000_movies.csv

In [1]:
import numpy as np
import pandas as pd

In [74]:
pip install nltk

Collecting nltk
  Downloading nltk-3.8.1-py3-none-any.whl (1.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.5/1.5 MB 2.0 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: joblib in /home/devang/.var/app/org.jupyter.JupyterLab/config/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (from nltk) (1.2.0)
Collecting regex>=2021.8.3
  Downloading regex-2023.3.23-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (771 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 771.9/771.9 kB 2.2 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: click in /home/devang/.var/app/org.jupyter.JupyterLab/config/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (from nltk) (8.1.3)
Requirement already satisfied: tqdm in /home/devang/.var/app/org.jupyter.JupyterLab/config/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (from nltk) (4.64.1)
Installing collected packages: regex, nltk
Successfully installed nltk-3.8.1 regex-2023.3.23
Note: you may need to restart the kernel to use updated packages.

In [2]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [3]:
# displaying 
movies.shape

(4803, 20)

In [4]:
credits.shape

(4803, 4)

In [5]:
movies.info() # displaying necessary information before beginning data preprocessing

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

In [6]:
credits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4803 non-null   int64
 1   title     4803 non-null   object
 2   cast      4803 non-null   object
 3   crew      4803 non-null   object
dtypes: int64(1), object(3)
memory usage: 150.2+ KB

In [7]:
# Dsiplaying a single movie

In [8]:
movies.head(1)
# here the id is the id of the movie in TMDB(it is a website just like Imdb) database

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [9]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

# Data Preprocessing

## Merging the two data frames

As we have 2 differnet data frames, we will merge them to one single data frame, so that it would be easier for us to work with only a single data frame

In [10]:
movies = movies.merge(credits,on='title')
# the shape tells us that the dataframes are combined

In [11]:
movies.shape

(4809, 23)

In [12]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

## Removing Unnecssary Columns

**We are creating a content based recommendation system, so we will only keep the columns that will be useful for creating tags for the movie(that gives useful information about movie)**

`Columns that are going to be removed :` 
1. budget : budget is not necessarily an important factor while recommending movies. If you like a high budget movie, it does not mean you will like all high budget movies
2. homepage : we dont need the webpage of the movie website 
3. original language : when we see the data of languages, we will find that around 4600 out of 4800 movies are in english. so it won't matter too much
4. original title : we will only keep the title of the movies in english, so we will remove original title so as to avoid inconsistancies
5. popularity : 
6. production companies : we mostly never recommend movies based on production companies, we usally do it based on actors and stuff
7. release date : might matter for people who like movies in a specific ear or time period, will keep this for future work
8. revenue : might matter, but not using in this approach
9. runtime : does not matter, its just a numeric value
10. spoken_languages: not important factor
11. status :  does not matter if movie is released or not for our approach
12. tagline : removing because sometimes tagline is different than what the movie actually is 
13. vote_average: 
14. vote_count: 
15. movie_id : removing because we are alreaady storing id(both are same)

In [13]:
# reassigning movies to the remaining imporatant columns
movies = movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [14]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

## Dealing with Missing Data

In [15]:
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [16]:
# drop the columns that are null/na
movies.dropna(inplace=True)

In [17]:
movies.isnull().sum()
# now we can see that there are no null data in our dataset

movie_id    0
title       0
overview    0
genres      0
keywords    0
cast        0
crew        0
dtype: int64

## Dealing with Duplicate Data

In [18]:
movies.duplicated().sum()

0

## Formatting the Genre Column

In [19]:
movies.iloc[0].genres
# displaying the genres of first movie, i.e avatar
# we can see that the genres are in a format of list of dictionaries

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [20]:
# we want to convert the above format to the following
# ['action','adventure','fantasy','science fiction']

# basically we only need a list of all the genre names

In [21]:
movies.iloc[0].genres
# we can see in the output, that the list of dictionaries in actually in the form of string. So we need to convert it using ast module in python

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [22]:
import ast
ast.literal_eval('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [23]:
# creating a function that will convert our list of dictionaries to list
def convertGenre(obj):
    L = []

    for i in ast.literal_eval(obj): # to convert string to a list
        # for each i we will get a dictionary, and from that dictionary, we will access the name and append it to a list
        L.append(i['name'])
    return L

In [24]:
movies['genres'].apply(convertGenre)
# we can see in output, we have got a list of all the genres of movies

0       [Action, Adventure, Fantasy, Science Fiction]
1                        [Adventure, Fantasy, Action]
2                          [Action, Adventure, Crime]
3                    [Action, Crime, Drama, Thriller]
4                [Action, Adventure, Science Fiction]
                            ...
4804                        [Action, Crime, Thriller]
4805                                [Comedy, Romance]
4806               [Comedy, Drama, Romance, TV Movie]
4807                                               []
4808                                    [Documentary]
Name: genres, Length: 4806, dtype: object

In [25]:
movies['genres'] = movies['genres'].apply(convertGenre)

In [26]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

## Formatting the keyword column

In [27]:
movies.iloc[0].keywords

'[{"id": 1463, "name": "culture clash"}, {"id": 2964, "name": "future"}, {"id": 3386, "name": "space war"}, {"id": 3388, "name": "space colony"}, {"id": 3679, "name": "society"}, {"id": 3801, "name": "space travel"}, {"id": 9685, "name": "futuristic"}, {"id": 9840, "name": "romance"}, {"id": 9882, "name": "space"}, {"id": 9951, "name": "alien"}, {"id": 10148, "name": "tribe"}, {"id": 10158, "name": "alien planet"}, {"id": 10987, "name": "cgi"}, {"id": 11399, "name": "marine"}, {"id": 13065, "name": "soldier"}, {"id": 14643, "name": "battle"}, {"id": 14720, "name": "love affair"}, {"id": 165431, "name": "anti war"}, {"id": 193554, "name": "power relations"}, {"id": 206690, "name": "mind and soul"}, {"id": 209714, "name": "3d"}]'

In [28]:
# we need to do the same thing that we did with the genres column. Just extract all the names present in each dictonary to a list
# we will use the same function because we need to extract name from keywords as well

movies['keywords'].apply(convertGenre)

0       [culture clash, future, space war, space colon...
1       [ocean, drug abuse, exotic island, east india ...
2       [spy, based on novel, secret agent, sequel, mi...
3       [dc comics, crime fighter, terrorist, secret i...
4       [based on novel, mars, medallion, space travel...
                              ...
4804    [united states–mexico barrier, legs, arms, pap...
4805                                                   []
4806    [date, love at first sight, narration, investi...
4807                                                   []
4808            [obsession, camcorder, crush, dream girl]
Name: keywords, Length: 4806, dtype: object

In [29]:
movies['keywords'] = movies['keywords'].apply(convertGenre)

In [30]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

## Formatting the Cast Column

In [31]:
movies.iloc[0].cast

'[{"cast_id": 242, "character": "Jake Sully", "credit_id": "5602a8a7c3a3685532001c9a", "gender": 2, "id": 65731, "name": "Sam Worthington", "order": 0}, {"cast_id": 3, "character": "Neytiri", "credit_id": "52fe48009251416c750ac9cb", "gender": 1, "id": 8691, "name": "Zoe Saldana", "order": 1}, {"cast_id": 25, "character": "Dr. Grace Augustine", "credit_id": "52fe48009251416c750aca39", "gender": 1, "id": 10205, "name": "Sigourney Weaver", "order": 2}, {"cast_id": 4, "character": "Col. Quaritch", "credit_id": "52fe48009251416c750ac9cf", "gender": 2, "id": 32747, "name": "Stephen Lang", "order": 3}, {"cast_id": 5, "character": "Trudy Chacon", "credit_id": "52fe48009251416c750ac9d3", "gender": 1, "id": 17647, "name": "Michelle Rodriguez", "order": 4}, {"cast_id": 8, "character": "Selfridge", "credit_id": "52fe48009251416c750ac9e1", "gender": 2, "id": 1771, "name": "Giovanni Ribisi", "order": 5}, {"cast_id": 7, "character": "Norm Spellman", "credit_id": "52fe48009251416c750ac9dd", "gender": 2, "id": 59231, "name": "Joel David Moore", "order": 6}, {"cast_id": 9, "character": "Moat", "credit_id": "52fe48009251416c750ac9e5", "gender": 1, "id": 30485, "name": "CCH Pounder", "order": 7}, {"cast_id": 11, "character": "Eytukan", "credit_id": "52fe48009251416c750ac9ed", "gender": 2, "id": 15853, "name": "Wes Studi", "order": 8}, {"cast_id": 10, "character": "Tsu\'Tey", "credit_id": "52fe48009251416c750ac9e9", "gender": 2, "id": 10964, "name": "Laz Alonso", "order": 9}, {"cast_id": 12, "character": "Dr. Max Patel", "credit_id": "52fe48009251416c750ac9f1", "gender": 2, "id": 95697, "name": "Dileep Rao", "order": 10}, {"cast_id": 13, "character": "Lyle Wainfleet", "credit_id": "52fe48009251416c750ac9f5", "gender": 2, "id": 98215, "name": "Matt Gerald", "order": 11}, {"cast_id": 32, "character": "Private Fike", "credit_id": "52fe48009251416c750aca5b", "gender": 2, "id": 154153, "name": "Sean Anthony Moran", "order": 12}, {"cast_id": 33, "character": "Cryo Vault Med Tech", "credit_id": "52fe48009251416c750aca5f", "gender": 2, "id": 397312, "name": "Jason Whyte", "order": 13}, {"cast_id": 34, "character": "Venture Star Crew Chief", "credit_id": "52fe48009251416c750aca63", "gender": 2, "id": 42317, "name": "Scott Lawrence", "order": 14}, {"cast_id": 35, "character": "Lock Up Trooper", "credit_id": "52fe48009251416c750aca67", "gender": 2, "id": 986734, "name": "Kelly Kilgour", "order": 15}, {"cast_id": 36, "character": "Shuttle Pilot", "credit_id": "52fe48009251416c750aca6b", "gender": 0, "id": 1207227, "name": "James Patrick Pitt", "order": 16}, {"cast_id": 37, "character": "Shuttle Co-Pilot", "credit_id": "52fe48009251416c750aca6f", "gender": 0, "id": 1180936, "name": "Sean Patrick Murphy", "order": 17}, {"cast_id": 38, "character": "Shuttle Crew Chief", "credit_id": "52fe48009251416c750aca73", "gender": 2, "id": 1019578, "name": "Peter Dillon", "order": 18}, {"cast_id": 39, "character": "Tractor Operator / Troupe", "credit_id": "52fe48009251416c750aca77", "gender": 0, "id": 91443, "name": "Kevin Dorman", "order": 19}, {"cast_id": 40, "character": "Dragon Gunship Pilot", "credit_id": "52fe48009251416c750aca7b", "gender": 2, "id": 173391, "name": "Kelson Henderson", "order": 20}, {"cast_id": 41, "character": "Dragon Gunship Gunner", "credit_id": "52fe48009251416c750aca7f", "gender": 0, "id": 1207236, "name": "David Van Horn", "order": 21}, {"cast_id": 42, "character": "Dragon Gunship Navigator", "credit_id": "52fe48009251416c750aca83", "gender": 0, "id": 215913, "name": "Jacob Tomuri", "order": 22}, {"cast_id": 43, "character": "Suit #1", "credit_id": "52fe48009251416c750aca87", "gender": 0, "id": 143206, "name": "Michael Blain-Rozgay", "order": 23}, {"cast_id": 44, "character": "Suit #2", "credit_id": "52fe48009251416c750aca8b", "gender": 2, "id": 169676, "name": "Jon Curry", "order": 24}, {"cast_id": 46, "character": "Ambient Room Tech", "credit_id": "52fe48009251416c750aca8f", "gender": 0, "id": 1048610, "name": "Luke Hawker", "order": 25}, {"cast_id": 47, "character": "Ambient Room Tech / Troupe", "credit_id": "52fe48009251416c750aca93", "gender": 0, "id": 42288, "name": "Woody Schultz", "order": 26}, {"cast_id": 48, "character": "Horse Clan Leader", "credit_id": "52fe48009251416c750aca97", "gender": 2, "id": 68278, "name": "Peter Mensah", "order": 27}, {"cast_id": 49, "character": "Link Room Tech", "credit_id": "52fe48009251416c750aca9b", "gender": 0, "id": 1207247, "name": "Sonia Yee", "order": 28}, {"cast_id": 50, "character": "Basketball Avatar / Troupe", "credit_id": "52fe48009251416c750aca9f", "gender": 1, "id": 1207248, "name": "Jahnel Curfman", "order": 29}, {"cast_id": 51, "character": "Basketball Avatar", "credit_id": "52fe48009251416c750acaa3", "gender": 0, "id": 89714, "name": "Ilram Choi", "order": 30}, {"cast_id": 52, "character": "Na\'vi Child", "credit_id": "52fe48009251416c750acaa7", "gender": 0, "id": 1207249, "name": "Kyla Warren", "order": 31}, {"cast_id": 53, "character": "Troupe", "credit_id": "52fe48009251416c750acaab", "gender": 0, "id": 1207250, "name": "Lisa Roumain", "order": 32}, {"cast_id": 54, "character": "Troupe", "credit_id": "52fe48009251416c750acaaf", "gender": 1, "id": 83105, "name": "Debra Wilson", "order": 33}, {"cast_id": 57, "character": "Troupe", "credit_id": "52fe48009251416c750acabb", "gender": 0, "id": 1207253, "name": "Chris Mala", "order": 34}, {"cast_id": 55, "character": "Troupe", "credit_id": "52fe48009251416c750acab3", "gender": 0, "id": 1207251, "name": "Taylor Kibby", "order": 35}, {"cast_id": 56, "character": "Troupe", "credit_id": "52fe48009251416c750acab7", "gender": 0, "id": 1207252, "name": "Jodie Landau", "order": 36}, {"cast_id": 58, "character": "Troupe", "credit_id": "52fe48009251416c750acabf", "gender": 0, "id": 1207254, "name": "Julie Lamm", "order": 37}, {"cast_id": 59, "character": "Troupe", "credit_id": "52fe48009251416c750acac3", "gender": 0, "id": 1207257, "name": "Cullen B. Madden", "order": 38}, {"cast_id": 60, "character": "Troupe", "credit_id": "52fe48009251416c750acac7", "gender": 0, "id": 1207259, "name": "Joseph Brady Madden", "order": 39}, {"cast_id": 61, "character": "Troupe", "credit_id": "52fe48009251416c750acacb", "gender": 0, "id": 1207262, "name": "Frankie Torres", "order": 40}, {"cast_id": 62, "character": "Troupe", "credit_id": "52fe48009251416c750acacf", "gender": 1, "id": 1158600, "name": "Austin Wilson", "order": 41}, {"cast_id": 63, "character": "Troupe", "credit_id": "52fe48019251416c750acad3", "gender": 1, "id": 983705, "name": "Sara Wilson", "order": 42}, {"cast_id": 64, "character": "Troupe", "credit_id": "52fe48019251416c750acad7", "gender": 0, "id": 1207263, "name": "Tamica Washington-Miller", "order": 43}, {"cast_id": 65, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acadb", "gender": 1, "id": 1145098, "name": "Lucy Briant", "order": 44}, {"cast_id": 66, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acadf", "gender": 2, "id": 33305, "name": "Nathan Meister", "order": 45}, {"cast_id": 67, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acae3", "gender": 0, "id": 1207264, "name": "Gerry Blair", "order": 46}, {"cast_id": 68, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acae7", "gender": 2, "id": 33311, "name": "Matthew Chamberlain", "order": 47}, {"cast_id": 69, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acaeb", "gender": 0, "id": 1207265, "name": "Paul Yates", "order": 48}, {"cast_id": 70, "character": "Op Center Duty Officer", "credit_id": "52fe48019251416c750acaef", "gender": 0, "id": 1207266, "name": "Wray Wilson", "order": 49}, {"cast_id": 71, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acaf3", "gender": 2, "id": 54492, "name": "James Gaylyn", "order": 50}, {"cast_id": 72, "character": "Dancer", "credit_id": "52fe48019251416c750acaf7", "gender": 0, "id": 1207267, "name": "Melvin Leno Clark III", "order": 51}, {"cast_id": 73, "character": "Dancer", "credit_id": "52fe48019251416c750acafb", "gender": 0, "id": 1207268, "name": "Carvon Futrell", "order": 52}, {"cast_id": 74, "character": "Dancer", "credit_id": "52fe48019251416c750acaff", "gender": 0, "id": 1207269, "name": "Brandon Jelkes", "order": 53}, {"cast_id": 75, "character": "Dancer", "credit_id": "52fe48019251416c750acb03", "gender": 0, "id": 1207270, "name": "Micah Moch", "order": 54}, {"cast_id": 76, "character": "Dancer", "credit_id": "52fe48019251416c750acb07", "gender": 0, "id": 1207271, "name": "Hanniyah Muhammad", "order": 55}, {"cast_id": 77, "character": "Dancer", "credit_id": "52fe48019251416c750acb0b", "gender": 0, "id": 1207272, "name": "Christopher Nolen", "order": 56}, {"cast_id": 78, "character": "Dancer", "credit_id": "52fe48019251416c750acb0f", "gender": 0, "id": 1207273, "name": "Christa Oliver", "order": 57}, {"cast_id": 79, "character": "Dancer", "credit_id": "52fe48019251416c750acb13", "gender": 0, "id": 1207274, "name": "April Marie Thomas", "order": 58}, {"cast_id": 80, "character": "Dancer", "credit_id": "52fe48019251416c750acb17", "gender": 0, "id": 1207275, "name": "Bravita A. Threatt", "order": 59}, {"cast_id": 81, "character": "Mining Chief (uncredited)", "credit_id": "52fe48019251416c750acb1b", "gender": 0, "id": 1207276, "name": "Colin Bleasdale", "order": 60}, {"cast_id": 82, "character": "Veteran Miner (uncredited)", "credit_id": "52fe48019251416c750acb1f", "gender": 0, "id": 107969, "name": "Mike Bodnar", "order": 61}, {"cast_id": 83, "character": "Richard (uncredited)", "credit_id": "52fe48019251416c750acb23", "gender": 0, "id": 1207278, "name": "Matt Clayton", "order": 62}, {"cast_id": 84, "character": "Nav\'i (uncredited)", "credit_id": "52fe48019251416c750acb27", "gender": 1, "id": 147898, "name": "Nicole Dionne", "order": 63}, {"cast_id": 85, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb2b", "gender": 0, "id": 1207280, "name": "Jamie Harrison", "order": 64}, {"cast_id": 86, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb2f", "gender": 0, "id": 1207281, "name": "Allan Henry", "order": 65}, {"cast_id": 87, "character": "Ground Technician (uncredited)", "credit_id": "52fe48019251416c750acb33", "gender": 2, "id": 1207282, "name": "Anthony Ingruber", "order": 66}, {"cast_id": 88, "character": "Flight Crew Mechanic (uncredited)", "credit_id": "52fe48019251416c750acb37", "gender": 0, "id": 1207283, "name": "Ashley Jeffery", "order": 67}, {"cast_id": 14, "character": "Samson Pilot", "credit_id": "52fe48009251416c750ac9f9", "gender": 0, "id": 98216, "name": "Dean Knowsley", "order": 68}, {"cast_id": 89, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb3b", "gender": 0, "id": 1201399, "name": "Joseph Mika-Hunt", "order": 69}, {"cast_id": 90, "character": "Banshee (uncredited)", "credit_id": "52fe48019251416c750acb3f", "gender": 0, "id": 236696, "name": "Terry Notary", "order": 70}, {"cast_id": 91, "character": "Soldier (uncredited)", "credit_id": "52fe48019251416c750acb43", "gender": 0, "id": 1207287, "name": "Kai Pantano", "order": 71}, {"cast_id": 92, "character": "Blast Technician (uncredited)", "credit_id": "52fe48019251416c750acb47", "gender": 0, "id": 1207288, "name": "Logan Pithyou", "order": 72}, {"cast_id": 93, "character": "Vindum Raah (uncredited)", "credit_id": "52fe48019251416c750acb4b", "gender": 0, "id": 1207289, "name": "Stuart Pollock", "order": 73}, {"cast_id": 94, "character": "Hero (uncredited)", "credit_id": "52fe48019251416c750acb4f", "gender": 0, "id": 584868, "name": "Raja", "order": 74}, {"cast_id": 95, "character": "Ops Centreworker (uncredited)", "credit_id": "52fe48019251416c750acb53", "gender": 0, "id": 1207290, "name": "Gareth Ruck", "order": 75}, {"cast_id": 96, "character": "Engineer (uncredited)", "credit_id": "52fe48019251416c750acb57", "gender": 0, "id": 1062463, "name": "Rhian Sheehan", "order": 76}, {"cast_id": 97, "character": "Col. Quaritch\'s Mech Suit (uncredited)", "credit_id": "52fe48019251416c750acb5b", "gender": 0, "id": 60656, "name": "T. J. Storm", "order": 77}, {"cast_id": 98, "character": "Female Marine (uncredited)", "credit_id": "52fe48019251416c750acb5f", "gender": 0, "id": 1207291, "name": "Jodie Taylor", "order": 78}, {"cast_id": 99, "character": "Ikran Clan Leader (uncredited)", "credit_id": "52fe48019251416c750acb63", "gender": 1, "id": 1186027, "name": "Alicia Vela-Bailey", "order": 79}, {"cast_id": 100, "character": "Geologist (uncredited)", "credit_id": "52fe48019251416c750acb67", "gender": 0, "id": 1207292, "name": "Richard Whiteside", "order": 80}, {"cast_id": 101, "character": "Na\'vi (uncredited)", "credit_id": "52fe48019251416c750acb6b", "gender": 0, "id": 103259, "name": "Nikie Zambo", "order": 81}, {"cast_id": 102, "character": "Ambient Room Tech / Troupe", "credit_id": "52fe48019251416c750acb6f", "gender": 1, "id": 42286, "name": "Julene Renee", "order": 82}]'

**In cast also, we will be doing same kind of formatting as we did in keywords and genres but here we only need the first 3 cast(so we will need to pick only the first 3 dictionaries from the list of dictionaries)**

In [32]:
# creating a function that will convert our list of dictionaries to list
def convertCast(obj):
    L = []
    counter = 0
    for i in ast.literal_eval(obj): # to convert string to a list
        # for each i we will get a dictionary, and from that dictionary, we will access the name and append it to a list
        if counter!=3:
            L.append(i['name'])
            counter+=1
        else:
            break
    return L

In [33]:
movies['cast'].apply(convertCast)
# we can see that we are getting 3 actors for each movie

0        [Sam Worthington, Zoe Saldana, Sigourney Weaver]
1           [Johnny Depp, Orlando Bloom, Keira Knightley]
2            [Daniel Craig, Christoph Waltz, Léa Seydoux]
3            [Christian Bale, Michael Caine, Gary Oldman]
4          [Taylor Kitsch, Lynn Collins, Samantha Morton]
                              ...
4804    [Carlos Gallardo, Jaime de Hoyos, Peter Marqua...
4805         [Edward Burns, Kerry Bishé, Marsha Dietlein]
4806           [Eric Mabius, Kristin Booth, Crystal Lowe]
4807            [Daniel Henney, Eliza Coupe, Bill Paxton]
4808    [Drew Barrymore, Brian Herzlinger, Corey Feldman]
Name: cast, Length: 4806, dtype: object

In [34]:
movies['cast']=movies['cast'].apply(convertCast)

In [35]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

## Formatting Crew Column

Here we only need the dictionary where job title is "Director" because we only want data for director

In [36]:
movies.iloc[0].crew

'[{"credit_id": "52fe48009251416c750aca23", "department": "Editing", "gender": 0, "id": 1721, "job": "Editor", "name": "Stephen E. Rivkin"}, {"credit_id": "539c47ecc3a36810e3001f87", "department": "Art", "gender": 2, "id": 496, "job": "Production Design", "name": "Rick Carter"}, {"credit_id": "54491c89c3a3680fb4001cf7", "department": "Sound", "gender": 0, "id": 900, "job": "Sound Designer", "name": "Christopher Boyes"}, {"credit_id": "54491cb70e0a267480001bd0", "department": "Sound", "gender": 0, "id": 900, "job": "Supervising Sound Editor", "name": "Christopher Boyes"}, {"credit_id": "539c4a4cc3a36810c9002101", "department": "Production", "gender": 1, "id": 1262, "job": "Casting", "name": "Mali Finn"}, {"credit_id": "5544ee3b925141499f0008fc", "department": "Sound", "gender": 2, "id": 1729, "job": "Original Music Composer", "name": "James Horner"}, {"credit_id": "52fe48009251416c750ac9c3", "department": "Directing", "gender": 2, "id": 2710, "job": "Director", "name": "James Cameron"}, {"credit_id": "52fe48009251416c750ac9d9", "department": "Writing", "gender": 2, "id": 2710, "job": "Writer", "name": "James Cameron"}, {"credit_id": "52fe48009251416c750aca17", "department": "Editing", "gender": 2, "id": 2710, "job": "Editor", "name": "James Cameron"}, {"credit_id": "52fe48009251416c750aca29", "department": "Production", "gender": 2, "id": 2710, "job": "Producer", "name": "James Cameron"}, {"credit_id": "52fe48009251416c750aca3f", "department": "Writing", "gender": 2, "id": 2710, "job": "Screenplay", "name": "James Cameron"}, {"credit_id": "539c4987c3a36810ba0021a4", "department": "Art", "gender": 2, "id": 7236, "job": "Art Direction", "name": "Andrew Menzies"}, {"credit_id": "549598c3c3a3686ae9004383", "department": "Visual Effects", "gender": 0, "id": 6690, "job": "Visual Effects Producer", "name": "Jill Brooks"}, {"credit_id": "52fe48009251416c750aca4b", "department": "Production", "gender": 1, "id": 6347, "job": "Casting", "name": "Margery Simkin"}, {"credit_id": "570b6f419251417da70032fe", "department": "Art", "gender": 2, "id": 6878, "job": "Supervising Art Director", "name": "Kevin Ishioka"}, {"credit_id": "5495a0fac3a3686ae9004468", "department": "Sound", "gender": 0, "id": 6883, "job": "Music Editor", "name": "Dick Bernstein"}, {"credit_id": "54959706c3a3686af3003e81", "department": "Sound", "gender": 0, "id": 8159, "job": "Sound Effects Editor", "name": "Shannon Mills"}, {"credit_id": "54491d58c3a3680fb1001ccb", "department": "Sound", "gender": 0, "id": 8160, "job": "Foley", "name": "Dennie Thorpe"}, {"credit_id": "54491d6cc3a3680fa5001b2c", "department": "Sound", "gender": 0, "id": 8163, "job": "Foley", "name": "Jana Vance"}, {"credit_id": "52fe48009251416c750aca57", "department": "Costume & Make-Up", "gender": 1, "id": 8527, "job": "Costume Design", "name": "Deborah Lynn Scott"}, {"credit_id": "52fe48009251416c750aca2f", "department": "Production", "gender": 2, "id": 8529, "job": "Producer", "name": "Jon Landau"}, {"credit_id": "539c4937c3a36810ba002194", "department": "Art", "gender": 0, "id": 9618, "job": "Art Direction", "name": "Sean Haworth"}, {"credit_id": "539c49b6c3a36810c10020e6", "department": "Art", "gender": 1, "id": 12653, "job": "Set Decoration", "name": "Kim Sinclair"}, {"credit_id": "570b6f2f9251413a0e00020d", "department": "Art", "gender": 1, "id": 12653, "job": "Supervising Art Director", "name": "Kim Sinclair"}, {"credit_id": "54491a6c0e0a26748c001b19", "department": "Art", "gender": 2, "id": 14350, "job": "Set Designer", "name": "Richard F. Mays"}, {"credit_id": "56928cf4c3a3684cff0025c4", "department": "Production", "gender": 1, "id": 20294, "job": "Executive Producer", "name": "Laeta Kalogridis"}, {"credit_id": "52fe48009251416c750aca51", "department": "Costume & Make-Up", "gender": 0, "id": 17675, "job": "Costume Design", "name": "Mayes C. Rubeo"}, {"credit_id": "52fe48009251416c750aca11", "department": "Camera", "gender": 2, "id": 18265, "job": "Director of Photography", "name": "Mauro Fiore"}, {"credit_id": "5449194d0e0a26748f001b39", "department": "Art", "gender": 0, "id": 42281, "job": "Set Designer", "name": "Scott Herbertson"}, {"credit_id": "52fe48009251416c750aca05", "department": "Crew", "gender": 0, "id": 42288, "job": "Stunts", "name": "Woody Schultz"}, {"credit_id": "5592aefb92514152de0010f5", "department": "Costume & Make-Up", "gender": 0, "id": 29067, "job": "Makeup Artist", "name": "Linda DeVetta"}, {"credit_id": "5592afa492514152de00112c", "department": "Costume & Make-Up", "gender": 0, "id": 29067, "job": "Hairstylist", "name": "Linda DeVetta"}, {"credit_id": "54959ed592514130fc002e5d", "department": "Camera", "gender": 2, "id": 33302, "job": "Camera Operator", "name": "Richard Bluck"}, {"credit_id": "539c4891c3a36810ba002147", "department": "Art", "gender": 2, "id": 33303, "job": "Art Direction", "name": "Simon Bright"}, {"credit_id": "54959c069251417a81001f3a", "department": "Visual Effects", "gender": 0, "id": 113145, "job": "Visual Effects Supervisor", "name": "Richard Martin"}, {"credit_id": "54959a0dc3a3680ff5002c8d", "department": "Crew", "gender": 2, "id": 58188, "job": "Visual Effects Editor", "name": "Steve R. Moore"}, {"credit_id": "52fe48009251416c750aca1d", "department": "Editing", "gender": 2, "id": 58871, "job": "Editor", "name": "John Refoua"}, {"credit_id": "54491a4dc3a3680fc30018ca", "department": "Art", "gender": 0, "id": 92359, "job": "Set Designer", "name": "Karl J. Martin"}, {"credit_id": "52fe48009251416c750aca35", "department": "Camera", "gender": 1, "id": 72201, "job": "Director of Photography", "name": "Chiling Lin"}, {"credit_id": "52fe48009251416c750ac9ff", "department": "Crew", "gender": 0, "id": 89714, "job": "Stunts", "name": "Ilram Choi"}, {"credit_id": "54959c529251416e2b004394", "department": "Visual Effects", "gender": 2, "id": 93214, "job": "Visual Effects Supervisor", "name": "Steven Quale"}, {"credit_id": "54491edf0e0a267489001c37", "department": "Crew", "gender": 1, "id": 122607, "job": "Dialect Coach", "name": "Carla Meyer"}, {"credit_id": "539c485bc3a368653d001a3a", "department": "Art", "gender": 2, "id": 132585, "job": "Art Direction", "name": "Nick Bassett"}, {"credit_id": "539c4903c3a368653d001a74", "department": "Art", "gender": 0, "id": 132596, "job": "Art Direction", "name": "Jill Cormack"}, {"credit_id": "539c4967c3a368653d001a94", "department": "Art", "gender": 0, "id": 132604, "job": "Art Direction", "name": "Andy McLaren"}, {"credit_id": "52fe48009251416c750aca45", "department": "Crew", "gender": 0, "id": 236696, "job": "Motion Capture Artist", "name": "Terry Notary"}, {"credit_id": "54959e02c3a3680fc60027d2", "department": "Crew", "gender": 2, "id": 956198, "job": "Stunt Coordinator", "name": "Garrett Warren"}, {"credit_id": "54959ca3c3a3686ae300438c", "department": "Visual Effects", "gender": 2, "id": 957874, "job": "Visual Effects Supervisor", "name": "Jonathan Rothbart"}, {"credit_id": "570b6f519251412c74001b2f", "department": "Art", "gender": 0, "id": 957889, "job": "Supervising Art Director", "name": "Stefan Dechant"}, {"credit_id": "570b6f62c3a3680b77007460", "department": "Art", "gender": 2, "id": 959555, "job": "Supervising Art Director", "name": "Todd Cherniawsky"}, {"credit_id": "539c4a3ac3a36810da0021cc", "department": "Production", "gender": 0, "id": 1016177, "job": "Casting", "name": "Miranda Rivers"}, {"credit_id": "539c482cc3a36810c1002062", "department": "Art", "gender": 0, "id": 1032536, "job": "Production Design", "name": "Robert Stromberg"}, {"credit_id": "539c4b65c3a36810c9002125", "department": "Costume & Make-Up", "gender": 2, "id": 1071680, "job": "Costume Design", "name": "John Harding"}, {"credit_id": "54959e6692514130fc002e4e", "department": "Camera", "gender": 0, "id": 1177364, "job": "Steadicam Operator", "name": "Roberto De Angelis"}, {"credit_id": "539c49f1c3a368653d001aac", "department": "Costume & Make-Up", "gender": 2, "id": 1202850, "job": "Makeup Department Head", "name": "Mike Smithson"}, {"credit_id": "5495999ec3a3686ae100460c", "department": "Visual Effects", "gender": 0, "id": 1204668, "job": "Visual Effects Producer", "name": "Alain Lalanne"}, {"credit_id": "54959cdfc3a3681153002729", "department": "Visual Effects", "gender": 0, "id": 1206410, "job": "Visual Effects Supervisor", "name": "Lucas Salton"}, {"credit_id": "549596239251417a81001eae", "department": "Crew", "gender": 0, "id": 1234266, "job": "Post Production Supervisor", "name": "Janace Tashjian"}, {"credit_id": "54959c859251416e1e003efe", "department": "Visual Effects", "gender": 0, "id": 1271932, "job": "Visual Effects Supervisor", "name": "Stephen Rosenbaum"}, {"credit_id": "5592af28c3a368775a00105f", "department": "Costume & Make-Up", "gender": 0, "id": 1310064, "job": "Makeup Artist", "name": "Frankie Karena"}, {"credit_id": "539c4adfc3a36810e300203b", "department": "Costume & Make-Up", "gender": 1, "id": 1319844, "job": "Costume Supervisor", "name": "Lisa Lovaas"}, {"credit_id": "54959b579251416e2b004371", "department": "Visual Effects", "gender": 0, "id": 1327028, "job": "Visual Effects Supervisor", "name": "Jonathan Fawkner"}, {"credit_id": "539c48a7c3a36810b5001fa7", "department": "Art", "gender": 0, "id": 1330561, "job": "Art Direction", "name": "Robert Bavin"}, {"credit_id": "539c4a71c3a36810da0021e0", "department": "Costume & Make-Up", "gender": 0, "id": 1330567, "job": "Costume Supervisor", "name": "Anthony Almaraz"}, {"credit_id": "539c4a8ac3a36810ba0021e4", "department": "Costume & Make-Up", "gender": 0, "id": 1330570, "job": "Costume Supervisor", "name": "Carolyn M. Fenton"}, {"credit_id": "539c4ab6c3a36810da0021f0", "department": "Costume & Make-Up", "gender": 0, "id": 1330574, "job": "Costume Supervisor", "name": "Beth Koenigsberg"}, {"credit_id": "54491ab70e0a267480001ba2", "department": "Art", "gender": 0, "id": 1336191, "job": "Set Designer", "name": "Sam Page"}, {"credit_id": "544919d9c3a3680fc30018bd", "department": "Art", "gender": 0, "id": 1339441, "job": "Set Designer", "name": "Tex Kadonaga"}, {"credit_id": "54491cf50e0a267483001b0c", "department": "Editing", "gender": 0, "id": 1352422, "job": "Dialogue Editor", "name": "Kim Foscato"}, {"credit_id": "544919f40e0a26748c001b09", "department": "Art", "gender": 0, "id": 1352962, "job": "Set Designer", "name": "Tammy S. Lee"}, {"credit_id": "5495a115c3a3680ff5002d71", "department": "Crew", "gender": 0, "id": 1357070, "job": "Transportation Coordinator", "name": "Denny Caira"}, {"credit_id": "5495a12f92514130fc002e94", "department": "Crew", "gender": 0, "id": 1357071, "job": "Transportation Coordinator", "name": "James Waitkus"}, {"credit_id": "5495976fc3a36811530026b0", "department": "Sound", "gender": 0, "id": 1360103, "job": "Supervising Sound Editor", "name": "Addison Teague"}, {"credit_id": "54491837c3a3680fb1001c5a", "department": "Art", "gender": 2, "id": 1376887, "job": "Set Designer", "name": "C. Scott Baker"}, {"credit_id": "54491878c3a3680fb4001c9d", "department": "Art", "gender": 0, "id": 1376888, "job": "Set Designer", "name": "Luke Caska"}, {"credit_id": "544918dac3a3680fa5001ae0", "department": "Art", "gender": 0, "id": 1376889, "job": "Set Designer", "name": "David Chow"}, {"credit_id": "544919110e0a267486001b68", "department": "Art", "gender": 0, "id": 1376890, "job": "Set Designer", "name": "Jonathan Dyer"}, {"credit_id": "54491967c3a3680faa001b5e", "department": "Art", "gender": 0, "id": 1376891, "job": "Set Designer", "name": "Joseph Hiura"}, {"credit_id": "54491997c3a3680fb1001c8a", "department": "Art", "gender": 0, "id": 1376892, "job": "Art Department Coordinator", "name": "Rebecca Jellie"}, {"credit_id": "544919ba0e0a26748f001b42", "department": "Art", "gender": 0, "id": 1376893, "job": "Set Designer", "name": "Robert Andrew Johnson"}, {"credit_id": "54491b1dc3a3680faa001b8c", "department": "Art", "gender": 0, "id": 1376895, "job": "Assistant Art Director", "name": "Mike Stassi"}, {"credit_id": "54491b79c3a3680fbb001826", "department": "Art", "gender": 0, "id": 1376897, "job": "Construction Coordinator", "name": "John Villarino"}, {"credit_id": "54491baec3a3680fb4001ce6", "department": "Art", "gender": 2, "id": 1376898, "job": "Assistant Art Director", "name": "Jeffrey Wisniewski"}, {"credit_id": "54491d2fc3a3680fb4001d07", "department": "Editing", "gender": 0, "id": 1376899, "job": "Dialogue Editor", "name": "Cheryl Nardi"}, {"credit_id": "54491d86c3a3680fa5001b2f", "department": "Editing", "gender": 0, "id": 1376901, "job": "Dialogue Editor", "name": "Marshall Winn"}, {"credit_id": "54491d9dc3a3680faa001bb0", "department": "Sound", "gender": 0, "id": 1376902, "job": "Supervising Sound Editor", "name": "Gwendolyn Yates Whittle"}, {"credit_id": "54491dc10e0a267486001bce", "department": "Sound", "gender": 0, "id": 1376903, "job": "Sound Re-Recording Mixer", "name": "William Stein"}, {"credit_id": "54491f500e0a26747c001c07", "department": "Crew", "gender": 0, "id": 1376909, "job": "Choreographer", "name": "Lula Washington"}, {"credit_id": "549599239251412c4e002a2e", "department": "Visual Effects", "gender": 0, "id": 1391692, "job": "Visual Effects Producer", "name": "Chris Del Conte"}, {"credit_id": "54959d54c3a36831b8001d9a", "department": "Visual Effects", "gender": 2, "id": 1391695, "job": "Visual Effects Supervisor", "name": "R. Christopher White"}, {"credit_id": "54959bdf9251412c4e002a66", "department": "Visual Effects", "gender": 0, "id": 1394070, "job": "Visual Effects Supervisor", "name": "Dan Lemmon"}, {"credit_id": "5495971d92514132ed002922", "department": "Sound", "gender": 0, "id": 1394129, "job": "Sound Effects Editor", "name": "Tim Nielsen"}, {"credit_id": "5592b25792514152cc0011aa", "department": "Crew", "gender": 0, "id": 1394286, "job": "CG Supervisor", "name": "Michael Mulholland"}, {"credit_id": "54959a329251416e2b004355", "department": "Crew", "gender": 0, "id": 1394750, "job": "Visual Effects Editor", "name": "Thomas Nittmann"}, {"credit_id": "54959d6dc3a3686ae9004401", "department": "Visual Effects", "gender": 0, "id": 1394755, "job": "Visual Effects Supervisor", "name": "Edson Williams"}, {"credit_id": "5495a08fc3a3686ae300441c", "department": "Editing", "gender": 0, "id": 1394953, "job": "Digital Intermediate", "name": "Christine Carr"}, {"credit_id": "55402d659251413d6d000249", "department": "Visual Effects", "gender": 0, "id": 1395269, "job": "Visual Effects Supervisor", "name": "John Bruno"}, {"credit_id": "54959e7b9251416e1e003f3e", "department": "Camera", "gender": 0, "id": 1398970, "job": "Steadicam Operator", "name": "David Emmerichs"}, {"credit_id": "54959734c3a3686ae10045e0", "department": "Sound", "gender": 0, "id": 1400906, "job": "Sound Effects Editor", "name": "Christopher Scarabosio"}, {"credit_id": "549595dd92514130fc002d79", "department": "Production", "gender": 0, "id": 1401784, "job": "Production Supervisor", "name": "Jennifer Teves"}, {"credit_id": "549596009251413af70028cc", "department": "Production", "gender": 0, "id": 1401785, "job": "Production Manager", "name": "Brigitte Yorke"}, {"credit_id": "549596e892514130fc002d99", "department": "Sound", "gender": 0, "id": 1401786, "job": "Sound Effects Editor", "name": "Ken Fischer"}, {"credit_id": "549598229251412c4e002a1c", "department": "Crew", "gender": 0, "id": 1401787, "job": "Special Effects Coordinator", "name": "Iain Hutton"}, {"credit_id": "549598349251416e2b00432b", "department": "Crew", "gender": 0, "id": 1401788, "job": "Special Effects Coordinator", "name": "Steve Ingram"}, {"credit_id": "54959905c3a3686ae3004324", "department": "Visual Effects", "gender": 0, "id": 1401789, "job": "Visual Effects Producer", "name": "Joyce Cox"}, {"credit_id": "5495994b92514132ed002951", "department": "Visual Effects", "gender": 0, "id": 1401790, "job": "Visual Effects Producer", "name": "Jenny Foster"}, {"credit_id": "549599cbc3a3686ae1004613", "department": "Crew", "gender": 0, "id": 1401791, "job": "Visual Effects Editor", "name": "Christopher Marino"}, {"credit_id": "549599f2c3a3686ae100461e", "department": "Crew", "gender": 0, "id": 1401792, "job": "Visual Effects Editor", "name": "Jim Milton"}, {"credit_id": "54959a51c3a3686af3003eb5", "department": "Visual Effects", "gender": 0, "id": 1401793, "job": "Visual Effects Producer", "name": "Cyndi Ochs"}, {"credit_id": "54959a7cc3a36811530026f4", "department": "Crew", "gender": 0, "id": 1401794, "job": "Visual Effects Editor", "name": "Lucas Putnam"}, {"credit_id": "54959b91c3a3680ff5002cb4", "department": "Visual Effects", "gender": 0, "id": 1401795, "job": "Visual Effects Supervisor", "name": "Anthony \'Max\' Ivins"}, {"credit_id": "54959bb69251412c4e002a5f", "department": "Visual Effects", "gender": 0, "id": 1401796, "job": "Visual Effects Supervisor", "name": "John Knoll"}, {"credit_id": "54959cbbc3a3686ae3004391", "department": "Visual Effects", "gender": 2, "id": 1401799, "job": "Visual Effects Supervisor", "name": "Eric Saindon"}, {"credit_id": "54959d06c3a3686ae90043f6", "department": "Visual Effects", "gender": 0, "id": 1401800, "job": "Visual Effects Supervisor", "name": "Wayne Stables"}, {"credit_id": "54959d259251416e1e003f11", "department": "Visual Effects", "gender": 0, "id": 1401801, "job": "Visual Effects Supervisor", "name": "David Stinnett"}, {"credit_id": "54959db49251413af7002975", "department": "Visual Effects", "gender": 0, "id": 1401803, "job": "Visual Effects Supervisor", "name": "Guy Williams"}, {"credit_id": "54959de4c3a3681153002750", "department": "Crew", "gender": 0, "id": 1401804, "job": "Stunt Coordinator", "name": "Stuart Thorp"}, {"credit_id": "54959ef2c3a3680fc60027f2", "department": "Lighting", "gender": 0, "id": 1401805, "job": "Best Boy Electric", "name": "Giles Coburn"}, {"credit_id": "54959f07c3a3680fc60027f9", "department": "Camera", "gender": 2, "id": 1401806, "job": "Still Photographer", "name": "Mark Fellman"}, {"credit_id": "54959f47c3a3681153002774", "department": "Lighting", "gender": 0, "id": 1401807, "job": "Lighting Technician", "name": "Scott Sprague"}, {"credit_id": "54959f8cc3a36831b8001df2", "department": "Visual Effects", "gender": 0, "id": 1401808, "job": "Animation Director", "name": "Jeremy Hollobon"}, {"credit_id": "54959fa0c3a36831b8001dfb", "department": "Visual Effects", "gender": 0, "id": 1401809, "job": "Animation Director", "name": "Orlando Meunier"}, {"credit_id": "54959fb6c3a3686af3003f54", "department": "Visual Effects", "gender": 0, "id": 1401810, "job": "Animation Director", "name": "Taisuke Tanimura"}, {"credit_id": "54959fd2c3a36831b8001e02", "department": "Costume & Make-Up", "gender": 0, "id": 1401812, "job": "Set Costumer", "name": "Lilia Mishel Acevedo"}, {"credit_id": "54959ff9c3a3686ae300440c", "department": "Costume & Make-Up", "gender": 0, "id": 1401814, "job": "Set Costumer", "name": "Alejandro M. Hernandez"}, {"credit_id": "5495a0ddc3a3686ae10046fe", "department": "Editing", "gender": 0, "id": 1401815, "job": "Digital Intermediate", "name": "Marvin Hall"}, {"credit_id": "5495a1f7c3a3686ae3004443", "department": "Production", "gender": 0, "id": 1401816, "job": "Publicist", "name": "Judy Alley"}, {"credit_id": "5592b29fc3a36869d100002f", "department": "Crew", "gender": 0, "id": 1418381, "job": "CG Supervisor", "name": "Mike Perry"}, {"credit_id": "5592b23a9251415df8001081", "department": "Crew", "gender": 0, "id": 1426854, "job": "CG Supervisor", "name": "Andrew Morley"}, {"credit_id": "55491e1192514104c40002d8", "department": "Art", "gender": 0, "id": 1438901, "job": "Conceptual Design", "name": "Seth Engstrom"}, {"credit_id": "5525d5809251417276002b06", "department": "Crew", "gender": 0, "id": 1447362, "job": "Visual Effects Art Director", "name": "Eric Oliver"}, {"credit_id": "554427ca925141586500312a", "department": "Visual Effects", "gender": 0, "id": 1447503, "job": "Modeling", "name": "Matsune Suzuki"}, {"credit_id": "551906889251415aab001c88", "department": "Art", "gender": 0, "id": 1447524, "job": "Art Department Manager", "name": "Paul Tobin"}, {"credit_id": "5592af8492514152cc0010de", "department": 

In [37]:
def convertCrew(obj):
    L = []
    counter = 0
    for i in ast.literal_eval(obj): # to convert string to a list
        # for each i we will get a dictionary, and from that dictionary, we will access the name and append it to a list
        if(i['job']=='Director'):
            L.append(i['name'])
            break
    return L

In [38]:
movies['crew'].apply(convertCrew)

0           [James Cameron]
1          [Gore Verbinski]
2              [Sam Mendes]
3       [Christopher Nolan]
4          [Andrew Stanton]
               ...
4804     [Robert Rodriguez]
4805         [Edward Burns]
4806          [Scott Smith]
4807          [Daniel Hsia]
4808     [Brian Herzlinger]
Name: crew, Length: 4806, dtype: object

In [39]:
movies['crew'] = movies['crew'].apply(convertCrew)

In [40]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]

## Converting overview from string to list
The overview column is in the form of strings. So we will convert it to lists so that we can concatenate it with the other lists that we have made while creating tags

In [41]:
movies['overview'].apply(lambda x : x.split())

0       [In, the, 22nd, century,, a, paraplegic, Marin...
1       [Captain, Barbossa,, long, believed, to, be, d...
2       [A, cryptic, message, from, Bond’s, past, send...
3       [Following, the, death, of, District, Attorney...
4       [John, Carter, is, a, war-weary,, former, mili...
                              ...
4804    [El, Mariachi, just, wants, to, play, his, gui...
4805    [A, newlywed, couple's, honeymoon, is, upended...
4806    ["Signed,, Sealed,, Delivered", introduces, a,...
4807    [When, ambitious, New, York, attorney, Sam, is...
4808    [Ever, since, the, second, grade, when, he, fi...
Name: overview, Length: 4806, dtype: object

In [42]:
movies['overview']= movies['overview'].apply(lambda x : x.split())

In [43]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]

## A Prolbem !! 
All the data that is present in the list is sepereated by spaces, this might create a problem

Suppose we have 2 Actors Sam Worthington and Sam Mendes
Now we want Sam Worthington, but our model might get confused as in which Sam do we want 

That is why it is important that we remove the blank spaces between name

In [44]:
# we will use list comprehension
movies['genres'].apply(lambda x : [i.replace(" ","") for i in x])
# we will do this same thing for all columns

0       [Action, Adventure, Fantasy, ScienceFiction]
1                       [Adventure, Fantasy, Action]
2                         [Action, Adventure, Crime]
3                   [Action, Crime, Drama, Thriller]
4                [Action, Adventure, ScienceFiction]
                            ...
4804                       [Action, Crime, Thriller]
4805                               [Comedy, Romance]
4806               [Comedy, Drama, Romance, TVMovie]
4807                                              []
4808                                   [Documentary]
Name: genres, Length: 4806, dtype: object

In [45]:
movies['genres'] = movies['genres'].apply(lambda x : [i.replace(" ","") for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x : [i.replace(" ","") for i in x])
movies['cast'] = movies['cast'].apply(lambda x : [i.replace(" ","") for i in x])
movies['crew'] = movies['crew'].apply(lambda x : [i.replace(" ","") for i in x])

In [46]:
movies.head(5)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]

## Creating a new column named tags

In [47]:
movies['tags'] = movies['overview'] + movies['keywords'] + movies['cast'] + movies['crew']

In [48]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."

## Creating a new DataFrame

In [49]:
final_df = movies[['movie_id','title','tags']]

In [50]:
final_df

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."
...,...,...,...
4804,9367,El Mariachi,"[El, Mariachi, just, wants, to, play, his, gui..."
4805,72766,Newlyweds,"[A, newlywed, couple's, honeymoon, is, upended..."
4806,231617,"Signed, Sealed, Delivered","[""Signed,, Sealed,, Delivered"", introduces, a,..."
4807,126186,Shanghai Calling,"[When, ambitious, New, York, attorney, Sam, is..."
4808,25975,My Date with Drew,"[Ever, since, the, second, grade, when, he, fi..."

In [51]:
# Convertin the tags from list to string
final_df['tags'].apply(lambda x : " ".join(x))

0       In the 22nd century, a paraplegic Marine is di...
1       Captain Barbossa, long believed to be dead, ha...
2       A cryptic message from Bond’s past sends him o...
3       Following the death of District Attorney Harve...
4       John Carter is a war-weary, former military ca...
                              ...
4804    El Mariachi just wants to play his guitar and ...
4805    A newlywed couple's honeymoon is upended by th...
4806    "Signed, Sealed, Delivered" introduces a dedic...
4807    When ambitious New York attorney Sam is sent t...
4808    Ever since the second grade when he first saw ...
Name: tags, Length: 4806, dtype: object

In [52]:
final_df['tags'] = final_df['tags'].apply(lambda x : " ".join(x))

/run/user/1000/app/org.jupyter.JupyterLab/ipykernel_256/278550751.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['tags'] = final_df['tags'].apply(lambda x : " ".join(x))

In [53]:
final_df.head()

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [54]:
final_df['tags'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d SamWorthington ZoeSaldana SigourneyWeaver JamesCameron'

### Lower casing all the tags ( in general this is recommended)

In [55]:
final_df['tags'] = final_df['tags'].apply(lambda x : x.lower())

/run/user/1000/app/org.jupyter.JupyterLab/ipykernel_256/1483259704.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['tags'] = final_df['tags'].apply(lambda x : x.lower())

In [56]:
final_df.head(1)

   movie_id   title                                               tags
0     19995  Avatar  in the 22nd century, a paraplegic marine is di...

# Vectorization

 **Our Task : Create a system where the user will enter a movie and we will recommend 5 similar movies to the user**

In [57]:
 # displaying all tags in first movie
final_df['tags'][0]

'in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d samworthington zoesaldana sigourneyweaver jamescameron'

In [58]:
# displaying all tags in second movie
final_df['tags'][1]

"captain barbossa, long believed to be dead, has come back to life and is headed to the edge of the earth with will turner and elizabeth swann. but nothing is quite as it seems. ocean drugabuse exoticisland eastindiatradingcompany loveofone'slife traitor shipwreck strongwoman ship alliance calypso afterlife fighter pirate swashbuckler aftercreditsstinger johnnydepp orlandobloom keiraknightley goreverbinski"

**Our Challenge is to find similarities between tags of each movie**

We can choose a strategy where we calculate the scroes between movies depending upon the number of same words they have. But this is not a good approach as most of the times the data will be misleading

This is why we choose vectorization, where we will convert all tags to vectors, and then when a user says he like a certain movie, then we will recommend him other movies that are very close to that particular vector

**This Process is called Text Vectorization**

There are different techniques for text Vectorization, but the technique that we will use is called `bag of words`

Other techniques are `tf idf`, `word to vec` etc

## Bag of Words Approach

First we will combine all the tags together(All tags from all movies combined).

tag1+tag2+tag3+.....

Now we have a very long string of words. **From this string of words we will choose the 5000 most commonly used words**

Once we have the 5000 words, we will extract them and now we will check how many times each of the 5000 words have occured in tags of every single movie

        word1   word2   word3   word 4 ...... word5000

movie1  3        5       1        0               0

movie2  5        1       2        4               1

We will gat a dataframe that will have 5000 rows(approx, they will be equal to number of movies in database) and 5000 columns

Here each single movie is converted into a vector

**Important Point : During Vectorization, we will not consider stop words(such as and,or,are,to,that etc)**

**We will use a library from sklearn called countvectorization to do our vectorizaion(although we want also do the vectorization manually, like concatinating all tags,extracting most common words and so on**

In [59]:
from sklearn.feature_extraction.text import CountVectorizer

In [60]:
cv = CountVectorizer(max_features=5000,stop_words='english')

In [61]:
cv.fit_transform(final_df['tags']).toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [62]:
cv.fit_transform(final_df['tags']).toarray().shape

(4806, 5000)

In [67]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0])

In [72]:
cv.get_feature_names_out() # these are the 5000 most used wordsthat are present in our tags

array(['000', '007', '10', ..., 'zone', 'zoo', 'zooeydeschanel'],
      dtype=object)

In [73]:
len(cv.get_feature_names_out())

5000

the words loved,loving,love are all same meaning, and we dont need them as different tags in our tags column becuase this will create confusion while we try to relate movies to each other.

that's why to remove such words and use only one of them we will use stem

In [75]:
import nltk

In [76]:
from nltk.stem.porter import PorterStemmer 

ps = PorterStemmer()

In [85]:
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
        
    return " ".join(y) # converting the list we created above to string once again

In [86]:
ps.stem('loving')

'love'

In [87]:
ps.stem('loved')

'love'

In [90]:
final_df['tags'].apply(stem)

0       in the 22nd century, a parapleg marin is dispa...
1       captain barbossa, long believ to be dead, ha c...
2       a cryptic messag from bond’ past send him on a...
3       follow the death of district attorney harvey d...
4       john carter is a war-weary, former militari ca...
                              ...
4804    el mariachi just want to play hi guitar and ca...
4805    a newlyw couple' honeymoon is upend by the arr...
4806    "signed, sealed, delivered" introduc a dedic q...
4807    when ambiti new york attorney sam is sent to s...
4808    ever sinc the second grade when he first saw h...
Name: tags, Length: 4806, dtype: object

In [91]:
final_df['tags'] = final_df['tags'].apply(stem)

/run/user/1000/app/org.jupyter.JupyterLab/ipykernel_256/3982203710.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['tags'] = final_df['tags'].apply(stem)

In [92]:
from sklearn.feature_extraction.text import CountVectorizer

In [93]:
cv = CountVectorizer(max_features=5000,stop_words='english')

In [94]:
cv.fit_transform(final_df['tags']).toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [95]:
vectors = cv.fit_transform(final_df['tags']).toarray()

In [97]:
cv.get_feature_names_out() # these are the 5000 most used wordsthat are present in our tags 
# I am for some reason unable to display all the 5000 words here, otherwise we would be able to see the ouput clearly

array(['000', '007', '10', ..., 'zone', 'zoo', 'zooeydeschanel'],
      dtype=object)

**Now we have gotten our vectors. We have around 4800 vectors(equal to toal movies). Now our task is to calculate the distance between each vector**

**Smaller the distance, more the similarities between the vectors(movies)**

**We will not calculate the eculidian distance between them(distance from the tip of one vector to another)**

Reason : Eucldian distance fails for higher dimension of data. Here we are having 5000 dimensional data, that's why we are not using Eculidian distance

**Instead we will calculate the cosine distance(the angle between the vectors). Smaller the angle more similarities between movies**

### Using the cosine similarity function from scikt learn

In [99]:
from sklearn.metrics.pairwise import cosine_similarity # similarity will always be between 0 and 1. 1 being very very very similar

In [100]:
cosine_similarity(vectors)

array([[1.        , 0.        , 0.03184649, ..., 0.02475369, 0.        ,
        0.        ],
       [0.        , 1.        , 0.        , ..., 0.02592379, 0.        ,
        0.0277137 ],
       [0.03184649, 0.        , 1.        , ..., 0.02680281, 0.        ,
        0.        ],
       ...,
       [0.02475369, 0.02592379, 0.02680281, ..., 1.        , 0.0412393 ,
        0.04454354],
       [0.        , 0.        , 0.        , ..., 0.0412393 , 1.        ,
        0.08817334],
       [0.        , 0.0277137 , 0.        , ..., 0.04454354, 0.08817334,
        1.        ]])

In [101]:
cosine_similarity(vectors).shape

(4806, 4806)

In [102]:
similarity = cosine_similarity(vectors)

In [104]:
similarity[0] # this tell us the similarity of 1st movie with every other movie
# the similarity score of 1st movie with itself will be ofcourse 1 becuase both are same movies

array([1.        , 0.        , 0.03184649, ..., 0.02475369, 0.        ,
       0.        ])

In [105]:
similarity[1]

array([0.        , 1.        , 0.        , ..., 0.02592379, 0.        ,
       0.0277137 ])

## Creating the final recommend function

In [113]:
final_df

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a parapleg marin is dispa..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believ to be dead, ha c..."
2,206647,Spectre,a cryptic messag from bond’ past send him on a...
3,49026,The Dark Knight Rises,follow the death of district attorney harvey d...
4,49529,John Carter,"john carter is a war-weary, former militari ca..."
...,...,...,...
4804,9367,El Mariachi,el mariachi just want to play hi guitar and ca...
4805,72766,Newlyweds,a newlyw couple' honeymoon is upend by the arr...
4806,231617,"Signed, Sealed, Delivered","""signed, sealed, delivered"" introduc a dedic q..."
4807,126186,Shanghai Calling,when ambiti new york attorney sam is sent to s...
4808,25975,My Date with Drew,ever sinc the second grade when he first saw h...

In [112]:
final_df[final_df['title'] == 'Batman Begins'].index[0] # fetch index of movie

119

In [115]:
list(enumerate(similarity[0]))
# this will give us the similarity between moive 0 and all the other movies

[(0, 1.0),
 (1, 0.0),
 (2, 0.031846487764924096),
 (3, 0.06063390625908324),
 (4, 0.1292719224987548),
 (5, 0.04711428474315455),
 (6, 0.02195814375455294),
 (7, 0.05492350363810897),
 (8, 0.0),
 (9, 0.0),
 (10, 0.0),
 (11, 0.026783579200279007),
 (12, 0.0),
 (13, 0.0),
 (14, 0.028583097523751468),
 (15, 0.0),
 (16, 0.0),
 (17, 0.06587443126365883),
 (18, 0.06149400462680908),
 (19, 0.022518867455552243),
 (20, 0.015526752351113421),
 (21, 0.05970814340265321),
 (22, 0.0),
 (23, 0.0),
 (24, 0.0),
 (25, 0.03656362120635653),
 (26, 0.08458258116519013),
 (27, 0.13629325512727639),
 (28, 0.03300491809922247),
 (29, 0.023557142371577276),
 (30, 0.0),
 (31, 0.07151985398521515),
 (32, 0.023557142371577276),
 (33, 0.0),
 (34, 0.0),
 (35, 0.0),
 (36, 0.10713431680111603),
 (37, 0.029411764705882346),
 (38, 0.02195814375455294),
 (39, 0.0),
 (40, 0.030316953129541614),
 (41, 0.10461315619318828),
 (42, 0.0),
 (43, 0.049507377148833714),
 (44, 0.0),
 (45, 0.045037734911104486),
 (46, 0.03131121455425747),
 (47, 0.14890247043403096),
 (48, 0.04583492485141056),
 (49, 0.031846487764924096),
 (50, 0.0),
 (51, 0.02160679078507214),
 (52, 0.08035073760083702),
 (53, 0.0),
 (54, 0.0),
 (55, 0.019295098316976823),
 (56, 0.03934447376823168),
 (57, 0.02615328904829707),
 (58, 0.025286086871208677),
 (59, 0.019544077624852604),
 (60, 0.01967223688411584),
 (61, 0.11504474832710555),
 (62, 0.0),
 (63, 0.044280744277004756),
 (64, 0.0),
 (65, 0.0),
 (66, 0.0),
 (67, 0.09095085938862485),
 (68, 0.03363363969981562),
 (69, 0.014144964899666775),
 (70, 0.0),
 (71, 0.0),
 (72, 0.03131121455425747),
 (73, 0.0),
 (74, 0.16977493752543305),
 (75, 0.056388387443460086),
 (76, 0.0),
 (77, 0.015721249524260256),
 (78, 0.0),
 (79, 0.0),
 (80, 0.01807753815155468),
 (81, 0.04014478229518501),
 (82, 0.028194193721730043),
 (83, 0.07756315349925287),
 (84, 0.04583492485141056),
 (85, 0.0700140042014005),
 (86, 0.026462806201248155),
 (87, 0.06262242910851494),
 (88, 0.03500700210070025),
 (89, 0.04639051998342824),
 (90, 0.0),
 (91, 0.09240616554505461),
 (92, 0.02271554252121273),
 (93, 0.025854384499750957),
 (94, 0.07312724241271305),
 (95, 0.07845986714489121),
 (96, 0.0),
 (97, 0.0),
 (98, 0.0),
 (99, 0.0),
 (100, 0.0),
 (101, 0.0),
 (102, 0.06755660236665673),
 (103, 0.02195814375455294),
 (104, 0.0),
 (105, 0.03742405942825598),
 (106, 0.02291746242570528),
 (107, 0.0),
 (108, 0.08035073760083702),
 (109, 0.0),
 (110, 0.025015639663712994),
 (111, 0.08238525545716345),
 (112, 0.0),
 (113, 0.0),
 (114, 0.0),
 (115, 0.0),
 (116, 0.0),
 (117, 0.0),
 (118, 0.01838657828382305),
 (119, 0.024014605321403704),
 (120, 0.0),
 (121, 0.0),
 (122, 0.03300491809922247),
 (123, 0.04899959575500252),
 (124, 0.02556549962824568),
 (125, 0.04080216746870543),
 (126, 0.05882352941176469),
 (127, 0.06105941257599791),
 (128, 0.0),
 (129, 0.025286086871208677),
 (130, 0.0),
 (131, 0.029854071701326604),
 (132, 0.024014605321403704),
 (133, 0.0),
 (134, 0.07312724241271305),
 (135, 0.0),
 (136, 0.0),
 (137, 0.032124628310161774),
 (138, 0.029411764705882346),
 (139, 0.06642111641550713),
 (140, 0.02449979787750126),
 (141, 0.06482037235521643),
 (142, 0.03300491809922247),
 (143, 0.024014605321403704),
 (144, 0.0),
 (145, 0.0),
 (146, 0.017783574850739465),
 (147, 0.0),
 (148, 0.03656362120635653),
 (149, 0.10555008273018726),
 (150, 0.1188177051572009),
 (151, 0.15339299776947407),
 (152, 0.0),
 (153, 0.0425435629811517),
 (154, 0.034299717028501764),
 (155, 0.021780342093451605),
 (156, 0.04356068418690321),
 (157, 0.03742405942825598),
 (158, 0.049507377148833714),
 (159, 0.0),
 (160, 0.05547950410914818),
 (161, 0.0),
 (162, 0.0),
 (163, 0.0),
 (164, 0.0),
 (165, 0.0),
 (166, 0.05564148840746572),
 (167, 0.0),
 (168, 0.08574929257125441),
 (169, 0.024014605321403704),
 (170, 0.06937459350943204),
 (171, 0.0),
 (172, 0.13284223283101426),
 (173, 0.02556549962824568),
 (174, 0.0),
 (175, 0.025854384499750957),
 (176, 0.0),
 (177, 0.0),
 (178, 0.0),
 (179, 0.042874646285627205),
 (180, 0.0),
 (181, 0.024753688574416857),
 (182, 0.05113099925649136),
 (183, 0.01893885047696425),
 (184, 0.14097096860865022),
 (185, 0.0),
 (186, 0.02160679078507214),
 (187, 0.03080205518168487),
 (188, 0.0),
 (189, 0.08574929257125441),
 (190, 0.023338001400466827),
 (191, 0.0),
 (192, 0.050572173742417355),
 (193, 0.033796515420933156),
 (194, 0.0),
 (195, 0.0),
 (196, 0.0),
 (197, 0.0),
 (198, 0.0),
 (199, 0.023557142371577276),
 (200, 0.041594516540385144),
 (201, 0.0),
 (202, 0.0),
 (203, 0.0),
 (204, 0.02711630722733202),
 (205, 0.0),
 (206, 0.059808916712167495),
 (207, 0.0),
 (208, 0.034299717028501764),
 (209, 0.0),
 (210, 0.028194193721730043),
 (211, 0.0),
 (212, 0.0),
 (213, 0.02127178149057585),
 (214, 0.0),
 (215, 0.0),
 (216, 0.0),
 (217, 0.046676002800933654),
 (218, 0.0),
 (219, 0.034299717028501764),
 (220, 0.1320196723968899),
 (221, 0.0),
 (222, 0.04356068418690321),
 (223, 0.057166195047502935),
 (224, 0.021780342093451605),
 (225, 0.0),
 (226, 0.0),
 (227, 0.029854071701326604),
 (228, 0.04850712500726659),
 (229, 0.05788529495093047),
 (230, 0.039605901719066965),
 (231, 0.0),
 (232, 0.0),
 (233, 0.0),
 (234, 0.025854384499750957),
 (235, 0.028194193721730043),
 (236, 0.10090091909944687),
 (237, 0.0),
 (238, 0.040422604172722164),
 (239, 0.07868894753646336),
 (240, 0.0),
 (241, 0.0),
 (242, 0.0),
 (243, 0.025854384499750957),
 (244, 0.06859943405700353),
 (245, 0.029854071701326604),
 (246, 0.06285566056425843),
 (247, 0.0),
 (248, 0.0),
 (249, 0.07868894753646336),
 (250, 0.0),
 (251, 0.04583492485141056),
 (252, 0.0),
 (253, 0.023338001400466827),
 (254, 0.026462806201248155),
 (255, 0.0),
 (256, 0.041594516540385144),
 (257, 0.0),
 (258, 0.0),
 (259, 0.0),
 (260, 0.10289915108550529),
 (261, 0.0),
 (262, 0.04624972900628803),
 (263, 0.0),
 (264, 0.0),
 (265, 0.0),
 (266, 0.053567158400558014),
 (267, 0.0),
 (268, 0.0),
 (269, 0.0),
 (270, 0.04802921064280741),
 (271, 0.0),
 (272, 0.0),
 (273, 0.0),
 (274, 0.06843538575349505),
 (275, 0.09723055853282464),
 (276, 0.0),
 (277, 0.019055398349167644),
 (278, 0.051708768999501914),
 (279, 0.050572173742417355),
 (280, 0.0),
 (281, 0.07134772412317411),
 (282, 0.024014605321403704),
 (283, 0.03131121455425747),
 (284, 0.0),
 (285, 0.0),
 (286, 0.06381534447172756),
 (287, 0.028194193721730043),
 (288, 0.030316953129541614),
 (289, 0.0),
 (290, 0.0),
 (291, 0.0),
 (292, 0.0),
 (293, 0.0),
 (294, 0.06726727939963124),
 (295, 0.06160411036336974),
 (296, 0.0),
 (297, 0.024253562503633294),
 (298, 0.0),
 (299, 0.021437323142813602),
 (300, 0.10846522890932808),
 (301, 0.04014478229518501),
 (302, 0.02556549962824568),
 (303, 0.0),
 (304, 0.042008402520840295),
 (305, 0.14269544824634822),
 (306, 0.029854071701326604),
 (307, 0.08328707558159618),
 (308, 0.03834824944236852),
 (309, 0.0),
 (310, 0.0),
 (311, 0.10984700727621793),
 (312, 0.056388387443460086),
 (313, 0.05882352941176469),
 (314, 0.0),
 (315, 0.0),
 (316, 0.0),
 (317, 0.0),
 (318, 0.0),
 (319, 0.03742405942825598),
 (320, 0.0),
 (321, 0.0),
 (322, 0.11941628680530642),
 (323, 0.0),
 (324, 0.0),
 (325, 0.040422604172722164),
 (326, 0.0),
 (327, 0.0),
 (328, 0.0),
 (329, 0.0),
 (330, 0.027461751819054483),
 (331, 0.04850712500726659),
 (332, 0.029854071701326604),
 (333, 0.0),
 (334, 0.026783579200279007),
 (335, 0.0),
 (336, 0.0),
 (337, 0.02449979787750126),
 (338, 0.0),
 (339, 0.0),
 (340, 0.0),
 (341, 0.030316953129541614),
 (342, 0.11651034560709259),
 (343, 0.020797258270192572),
 (344, 0.0),
 (345, 0.0),
 (346, 0.0),
 (347, 0.0),
 (348, 0.03500700210070025),
 (349, 0.0),
 (350, 0.0),
 (351, 0.0),
 (352, 0.0),
 (353, 0.022140372138502378),
 (354, 0.023782574707724703),
 (355, 0.0),
 (356, 0.034299717028501764),
 (357, 0.0),
 (358, 0.0),
 (359, 0.0),
 (360, 0.023338001400466827),
 (361, 0.05423261445466404),
 (362, 0.03575992699260758),
 (363, 0.06482037235521643),
 (364, 0.0),
 (365, 0.05492350363810897),
 (366, 0.0),
 (367, 0.0),
 (368, 0.07312724241271305),
 (369, 0.056388387443460086),
 (370, 0.0),
 (371, 0.0),
 (372, 0.025854384499750957),
 (373, 0.14969623771302393),
 (374, 0.0),
 (375, 0.04391628750910588),
 (376, 0.0),
 (377, 0.0),
 (378, 0.0),
 (379, 0.0),
 (380, 0.028583097523751468),
 (381, 0.0),
 (382, 0.0),
 (383, 0.0),
 (384, 0.0),
 (385, 0.0),
 (386, 0.0),
 (387, 0.0),
 (388, 0.0),
 (389, 0.03241018617760821),
 (390, 0.0),
 (391, 0.020797258270192572),
 (392, 0.0),
 (393, 0.0),
 (394, 0.0),
 (395, 0.028988551782622416),
 (396, 0.023782574707724703),
 (397, 0.028988551782622416),
 (398, 0.0),
 (399, 0.0),
 (400, 0.0),
 (401, 0.03656362120635653),
 (402, 0.028988551782622416),
 (403, 0.0),
 (404, 0.034299717028501764),
 (405, 0.03131121455425747),
 (406, 0.02271554252121273),
 (407, 0.0),
 (408, 0.0),
 (409, 0.0),
 (410, 0.02782074420373286),
 (411, 0.0),
 (412, 0.026462806201248155),
 (413, 0.03300491809922247),
 (414, 0.0),
 (415, 0.019055398349167644),
 (416, 0.0),
 (417, 0.0),
 (418, 0.03934447376823168),
 (419, 0.0),
 (420, 0.025015639663712994),
 (421, 0.02556549962824568),
 (422, 0.06262242910851494),
 (423, 0.022140372138502378),
 (424, 0.0),
 (425, 0.023124864503144014),
 (426, 0.0),
 (427, 0.0),
 (428, 0.0199363055707225),
 (429, 0.0),
 (430, 0.056388387443460086),
 (431, 0.0),
 (432, 0.07426106572325057),
 (433, 0.0),
 (434, 0.0),
 (435, 0.0),
 (436, 0.0),
 (437, 0.0),
 (438, 0.10713431680111603),
 (439, 0.030316953129541614),
 (440, 0.0),
 (441, 0.03241018617760821),
 (442, 0.0),
 (443, 0.0),
 (444, 0.0),
 (445, 0.08238525545716345),
 (446, 0.0),
 (447, 0.024253562503633294),
 (448, 0.02271554252121273),
 (449, 0.06063390625908323),
 (450, 0.0),
 (451, 0.0),
 (452, 0.0),
 (453, 0.0),
 (454, 0.10114434748483471),
 (455, 0.044280744277004756),
 (456, 0.02449979787750126),
 (457, 0.0),
 (458, 0.024253562503633294),
 (459, 0.0),
 (460, 0.0),
 (461, 0.0939336436627724),
 (462, 0.034647946433761845),
 (463, 0.0),
 (464, 0.0),
 (465, 0.0),
 (466, 0.041594516540385144),
 (467, 0.04624972900628803),
 (468, 0.0),
 (469, 0.02127178149057585),
 (470, 0.0),
 (471, 0.0),
 (472, 0.030316953129541614),
 (473, 0.051708768999501914),
 (474, 0.0),
 (475, 0.0),
 (476, 0.07669649888473704),
 (477, 0.0),
 (478, 0.01941839093451543),
 (479, 0.075755401907857),
 (480, 0.053567158400558014),
 (481, 0.0),
 (482, 0.0),
 (483, 0.03500700210070025),
 (484, 0.0),
 (485, 0.0),
 (486, 0.034299717028501764),
 (487, 0.07151985398521515),
 (488, 0.0367731565676461),
 (489, 0.0),
 (490, 0.041594516540385144),
 (491, 0.04356068418690321),
 (492, 0.056388387443460086),
 (493, 0.016351748504193214),
 (494, 0.0),
 (495, 0.10727978097782273),
 (496, 0.0),
 (497, 0.0),
 (498, 0.0),
 (499, 0.0),
 (500, 0.0),
 (501, 0.022518867455552243),
 (502, 0.12007302660701852),
 (503, 0.0),
 (504, 0.0),
 (505, 0.03934447376823168),
 (506, 0.03934447376823168),
 (507, 0.20812378052829614),
 (508, 0.0),
 (509, 0.0),
 (510, 0.05492350363810897),
 (511, 0.0),
 (512, 0.0),
 (513, 0.10846522890932808),
 (514, 0.0),
 (515, 0.0),
 (516, 0.0),
 (517, 0.0),
 (518, 0.0),
 (519, 0.0),
 (520, 0.0),
 (521, 0.027461751819054483),
 (522, 0.02615328904829707),
 (523, 0.0),
 (524, 0.0),
 (525, 0.026783579200279007),
 (526, 0.030316953129541614),
 (527, 0.03656362120635653),
 (528, 0.0),
 (529, 0.1569197342897824),
 (530, 0.0),
 (531, 0.0),
 (532, 0.02271554252121273),
 (533, 0.034299717028501764),
 (534, 0.0),
 (535, 0.02782074420373286),
 (536, 0.10226199851298272),
 (537, 0.0),
 (538, 0.0),
 (539, 0.1980295085953348),
 (540, 0.02782074420373286),
 (541, 0.06875238727711584),
 (542, 0.0),
 (543, 0.0),
 (544, 0.0),
 (545, 0.0),
 (546, 0.03656362120635653),
 (547, 0.0),
 (548, 0.0),
 (549, 0.10226199851298272),
 (550, 0.026783579200279007),
 (551, 0.0),
 (552, 0.0),
 (553, 0.0),
 (554, 0.0),
 (555, 0.016277925334825298),
 (556, 0.0),
 (557, 0.10846522890932808),
 (558, 0.0),
 (559, 0.0),
 (560, 0.01917412472118426),
 (561, 0.0),
 (562, 0.0),
 (563, 0.0),
 (564, 0.0700140042014005),
 (565, 0.0),
 (566, 0.0),
 (567, 0.0),
 (568, 0.0939336436627724),
 (569, 0.026783579200279007),
 (570, 0.03742405942825598),
 (571, 0.023557142371577276),
 (572, 0.02449979787750126),
 (573, 0.0),
 (574, 0.0),
 (575, 0.0),
 (576, 0.028988551782622416),
 (577, 0.12524485821702988),
 (578, 0.021437323142813602),
 (579, 0.1345345587992625),
 (580, 0.0),
 (581, 0.06600983619844494),
 (582, 0.21613144789263333),
 (583, 0.0),
 (584, 0.044280744277004756),
 (585, 0.02711630722733202),
 (586, 0.0),
 (587, 0.02615328904829707),
 (588, 0.02782074420373286),
 (589, 0.0850871259623034),
 (590, 0.0),
 (591, 0.0),
 (592, 0.0),
 (593, 0.0),
 (594, 0.0),
 (595, 0.12507819831856498),
 (596, 0.02615328904829707),
 (597, 0.0),
 (598, 0.0),
 (599, 0.029630442547297988),
 (600, 0.025015639663712994),
 (601, 0.0),
 (602, 0.049507377148833714),
 (603, 0.0),
 (604, 0.0),
 (605, 0.027461751819054483),
 (606, 0.0),
 (607, 0.0),
 (608, 0.0),
 (609, 0.0),
 (610, 0.015590780467500802),
 (611, 0.0),
 (612, 0.0),
 (613, 0.0),
 (614, 0.05292561240249631),
 (615, 0.034299717028501764),
 (616, 0.03742405942825598),
 (617, 0.028988551782622416),
 (618, 0.0),
 (619, 0.0),
 (620, 0.0),
 (621, 0.03742405942825598),
 (622, 0.0),
 (623, 0.0),
 (624, 0.03834824944236852),
 (625, 0.0),
 (626, 0.06063390625908323),
 (627, 0.0),
 (628, 0.0),
 (629, 0.026783579200279007),
 (630, 0.0),
 (631, 0.028194193721730043),
 (632, 0.057166195047502935),
 (633, 0.0),
 (634, 0.026783579200279007),
 (635, 0.07067142711473183),
 (636, 0.0),
 (637, 0.0),
 (638, 0.0),
 (639, 0.0),
 (640, 0.021437323142813602),
 (641, 0.0),
 (642, 0.0),
 (643, 0.05492350363810897),
 (644, 0.0),
 (645, 0.0),
 (646, 0.028988551782622416),
 (647, 0.05292561240249631),
 (648, 0.0),
 (649, 0.0),
 (650, 0.028194193721730043),
 (651, 0.0),
 (652, 0.023557142371577276),
 (653, 0.041594516540385144),
 (654, 0.023124864503144014),
 (655, 0.0),
 (656, 0.0),
 (657, 0.0),
 (658, 0.0),
 (659, 0.0),
 (660, 0.0),
 (661, 0.09249945801257606),
 (662, 0.0),
 (663, 0.0),
 (664, 0.0),
 (665, 0.0),
 (666, 0.02711630722733202),
 (667, 0.0),
 (668, 0.07484811885651196),
 (669, 0.03934447376823168),
 (670, 0.0),
 (671, 0.04899959575500252),
 (672, 0.0),
 (673, 0.0),
 (674, 0.02615328904829707),
 (675, 0.0),
 (676, 0.0),
 (677, 0.0),
 (678, 0.06482037235521643),
 (679, 0.0),
 (680, 0.05882352941176469),
 (681, 0.0),
 (682, 0.0),
 (683, 0.0),
 (684, 0.0),
 (685, 0.0),
 (686, 0.03575992699260758),
 (687, 0.057166195047502935),
 (688, 0.023338001400466827),
 (689, 0.0),
 (690, 0.0),
 (691, 0.0),
 (692, 0.12126781251816647),
 (693, 0.03834824944236852),
 (694, 0.0),
 (695, 0.0),
 (696, 0.023557142371577276),
 (697, 0.0),
 (698, 0.024014605321403704),
 (699, 0.042874646285627205),
 (700, 0.0),
 (701, 0.06262242910851494),
 (702, 0.0),
 (703, 0.0),
 (704, 0.05113099925649136),
 (705, 0.0),
 (706, 0.0),
 (707, 0.0),
 (708, 0.0),
 (709, 0.02195814375455294),
 (710, 0.020951886854752806),
 (711, 0.0),
 (712, 0.0),
 (713, 0.0),
 (714, 0.0),
 (715, 0.0),
 (716, 0.0),
 (717, 0.0),
 (718, 0.0),
 (719, 0.0),
 (720, 0.0),
 (721, 0.0),
 (722, 0.0),
 (723, 0.0),
 (724, 0.0),
 (725, 0.0),
 (726, 0.0),
 (727, 0.0),
 (728, 0.0),
 (729, 0.05230657809659414),
 (730, 0.016277925334825298),
 (731, 0.0),
 (732, 0.0),
 (733, 0.04465442806891065),
 (734, 0.024753688574416857),
 (735, 0.02449979787750126),
 (736, 0.0),
 (737, 0.056388387443460086),
 (738, 0.0),
 (739, 0.0),
 (740, 0.07067142711473183),
 (741, 0.0),
 (742, 0.0),
 (743, 0.0),
 (744, 0.0),
 (745, 0.03300491809922247),
 (746, 0.0),
 (747, 0.021437323142813602),
 (748, 0.0),
 (749, 0.0),
 (750, 0.02271554252121273),
 (751, 0.0),
 (752, 0.07204381596421111),
 (753, 0.0),
 (754, 0.08458258116519013),
 (755, 0.0),
 (756, 0.0),
 (757, 0.0),
 (758, 0.02556549962824568),
 (759, 0.0),
 (760, 0.0),
 (761, 0.0),
 (762, 0.03363363969981562),
 (763, 0.0),
 (764, 0.0),
 (765, 0.027461751819054483),
 (766, 0.02782074420373286),
 (767, 0.0),
 (768, 0.0),
 (769, 0.0),
 (770, 0.024253562503633294),
 (771, 0.0),
 (772, 0.0),
 (773, 0.0),
 (774, 0.0),
 (775, 0.06369297552984819),
 (776, 0.0),
 (777, 0.05003127932742599),
 (778, 0.2045239970259654),
 (779, 0.0),
 (780, 0.0),
 (781, 0.0),
 (782, 0.025854384499750957),
 (783, 0.0),
 (784, 0.0),
 (785, 0.06285566056425843),
 (786, 0.030316953129541614),
 (787, 0.06482037235521643),
 (788, 0.0),
 (789, 0.0),
 (790, 0.05863223287455781),
 (791, 0.03742405942825598),
 (792, 0.0),
 (793, 0.0),
 (794, 0.03300491809922247),
 (795, 0.0),
 (796, 0.0),
 (797, 0.041594516540385144),
 (798, 0.0),
 (799, 0.039872611141445),
 (800, 0.0),
 (801, 0.0),
 (802, 0.0),
 (803, 0.025286086871208677),
 (804, 0.028583097523751468),
 (805, 0.0),
 (806, 0.02449979787750126),
 (807, 0.03131121455425747),
 (808, 0.044280744277004756),
 (809, 0.0),
 (810, 0.0),
 (811, 0.0),
 (812, 0.046676002800933654),
 (813, 0.0),
 (814, 0.028988551782622416),
 (815, 0.0),
 (816, 0.0),
 (817, 0.0),
 (818, 0.0),
 (819, 0.0),
 (820, 0.0),
 (821, 0.0),
 (822, 0.0),
 (823, 0.02615328904829707),
 (824, 0.0),
 (825, 0.0),
 (826, 0.0),
 (827, 0.04802921064280741),
 (828, 0.0),
 (829, 0.0),
 (830, 0.0),
 (831, 0.0),
 (832, 0.0),
 (833, 0.026783579200279007),
 (834, 0.0),
 (835, 0.027461751819054483),
 (836, 0.0),
 (837, 0.031846487764924096),
 (838, 0.12478354962115544),
 (839, 0.0),
 (840, 0.0),
 (841, 0.0),
 (842, 0.0),
 (843, 0.1449427589131121),
 (844, 0.028988551782622416),
 (845, 0.0),
 (846, 0.020646003475383347),
 (847, 0.050435306986068934),
 (848, 0.020072391147592506),
 (849, 0.0),
 (850, 0.0),
 (851, 0.02782074420373286),
 (852, 0.0),
 (853, 0.0),
 (854, 0.028988551782622416),
 (855, 0.056388387443460086),
 (856, 0.0),
 (857, 0.0),
 (858, 0.0),
 (859, 0.031846487764924096),
 (860, 0.036986336072765455),
 (861, 0.021780342093451605),
 (862, 0.028583097523751468),
 (863, 0.03363363969981562),
 (864, 0.0),
 (865, 0.0),
 (866, 0.047565149415449405),
 (867, 0.0),
 (868, 0.0),
 (869, 0.02711630722733202),
 (870, 0.026462806201248155),
 (871, 0.05292561240249631),
 (872, 0.0),
 (873, 0.0),
 (874, 0.0),
 (875, 0.029411764705882346),
 (876, 0.0),
 (877, 0.0),
 (878, 0.10969086361906957),
 (879, 0.0),
 (880, 0.0),
 (881, 0.0),
 (882, 0.0),
 (883, 0.027461751819054483),
 (884, 0.0),
 (885, 0.05492350363810897),
 (886, 0.0),
 (887, 0.01860163329510811),
 (888, 0.0),
 (889, 0.10613237065158374),
 (890, 0.0),
 (891, 0.0),
 (892, 0.0),
 (893, 0.0),
 (894, 0.03131121455425747),
 (895, 0.0),
 (896, 0.0),
 (897, 0.044280744277004756),
 (898, 0.02711630722733202),
 (899, 0.030316953129541614),
 (900, 0.07845986714489121),
 (901, 0.05797710356524483),
 (902, 0.0),
 (903, 0.0),
 (904, 0.0),
 (905, 0.0),
 (906, 0.0),
 (907, 0.0),
 (908, 0.053567158400558014),
 (909, 0.0),
 (910, 0.0),
 (911, 0.0),
 (912, 0.0),
 (913, 0.0),
 (914, 0.0),
 (915, 0.0),
 (916, 0.03742405942825598),
 (917, 0.0),
 (918, 0.0),
 (919, 0.0),
 (920, 0.0),
 (921, 0.0),
 (922, 0.0),
 (923, 0.0),
 (924, 0.0),
 (925, 0.0),
 (926, 0.0),
 (927, 0.0),
 (928, 0.0),
 (929, 0.0),
 (930, 0.02711630722733202),
 (931, 0.06859943405700353),
 (932, 0.02615328904829707),
 (933, 0.026462806201248155),
 (934, 0.0),
 (935, 0.040422604172722164),
 (936, 0.0),
 (937, 0.08346223261119858),
 (938, 0.028583097523751468),
 (939, 0.039605901719066965),
 (940, 0.0),
 (941, 0.0),
 (942, 0.11433239009500587),
 (943, 0.0),
 (944, 0.0),
 (945, 0.03363363969981562),
 (946, 0.026783579200279007),
 (947, 0.0),
 (948, 0.0),
 (949, 0.0),
 (950, 0.0),
 (951, 0.03500700210070025),
 (952, 0.0),
 (953, 0.0),
 (954, 0.0),
 (955, 0.0),
 (956, 0.0),
 (957, 0.034299717028501764),
 (958, 0.026783579200279007),
 (959, 0.0),
 (960, 0.0),
 (961, 0.0),
 (962, 0.0),
 (963, 0.045037734911104486),
 (964, 0.0),
 (965, 0.0),
 (966, 0.0),
 (967, 0.0),
 (968, 0.0),
 (969, 0.020951886854752806),
 (970, 0.03363363969981562),
 (971, 0.0),
 (972, 0.10502100630210075),
 (973, 0.09723055853282464),
 (974, 0.01267754020759564),
 (975, 0.012409202105269959),
 (976, 0.0),
 (977, 0.0),
 (978, 0.0),
 (979, 0.0),
 (980, 0.0),
 (981, 0.0),
 (982, 0.0),
 (983, 0.0),
 (984, 0.031846487764924096),

In [118]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1]) # used lambda function because it was sorting on basis on index position instead of the similarities

[(0, 1.0),
 (1216, 0.25142264225703365),
 (2409, 0.24404676504598818),
 (582, 0.21613144789263333),
 (507, 0.20812378052829614),
 (3730, 0.20797258270192573),
 (778, 0.2045239970259654),
 (3608, 0.19926334924652142),
 (539, 0.1980295085953348),
 (1920, 0.19474520942613002),
 (1204, 0.18981415059132414),
 (2786, 0.17503501050350123),
 (74, 0.16977493752543305),
 (1089, 0.16516802780306677),
 (3675, 0.1647705109143269),
 (1321, 0.16169041669088866),
 (3538, 0.15877683720748892),
 (529, 0.1569197342897824),
 (151, 0.15339299776947407),
 (2333, 0.150093837982278),
 (373, 0.14969623771302393),
 (1201, 0.14969623771302393),
 (4192, 0.14969623771302393),
 (47, 0.14890247043403096),
 (4048, 0.14777011582226215),
 (2971, 0.14666320798326962),
 (843, 0.1449427589131121),
 (2515, 0.1430397079704303),
 (1071, 0.14291548761875733),
 (305, 0.14269544824634822),
 (3327, 0.14269544824634822),
 (184, 0.14097096860865022),
 (1774, 0.140028008402801),
 (2731, 0.140028008402801),
 (3162, 0.14002800840280097),
 (2204, 0.1373087590952724),
 (4336, 0.1373087590952724),
 (1275, 0.13719886811400706),
 (27, 0.13629325512727639),
 (579, 0.1345345587992625),
 (1329, 0.1345345587992625),
 (1479, 0.13396328420673195),
 (172, 0.13284223283101426),
 (3083, 0.13284223283101426),
 (220, 0.1320196723968899),
 (4, 0.1292719224987548),
 (1056, 0.1292719224987548),
 (577, 0.12524485821702988),
 (595, 0.12507819831856498),
 (838, 0.12478354962115544),
 (1348, 0.12478354962115543),
 (4538, 0.1224989893875063),
 (692, 0.12126781251816647),
 (502, 0.12007302660701852),
 (322, 0.11941628680530642),
 (150, 0.1188177051572009),
 (342, 0.11651034560709259),
 (61, 0.11504474832710555),
 (1166, 0.11504474832710555),
 (942, 0.11433239009500587),
 (1560, 0.11433239009500587),
 (3982, 0.11227217828476795),
 (1383, 0.11128297681493143),
 (311, 0.10984700727621793),
 (878, 0.10969086361906957),
 (300, 0.10846522890932808),
 (513, 0.10846522890932808),
 (557, 0.10846522890932808),
 (3628, 0.10846522890932808),
 (495, 0.10727978097782273),
 (36, 0.10713431680111603),
 (438, 0.10713431680111603),
 (1965, 0.10635890745287925),
 (889, 0.10613237065158374),
 (1355, 0.10585122480499262),
 (149, 0.10555008273018726),
 (972, 0.10502100630210075),
 (3999, 0.10502100630210075),
 (41, 0.10461315619318828),
 (2284, 0.10461315619318828),
 (1322, 0.10398629135096286),
 (2789, 0.10341753799900383),
 (260, 0.10289915108550529),
 (2652, 0.10289915108550529),
 (536, 0.10226199851298272),
 (549, 0.10226199851298272),
 (1537, 0.10226199851298272),
 (454, 0.10114434748483471),
 (1357, 0.10114434748483471),
 (2547, 0.10114434748483471),
 (236, 0.10090091909944687),
 (3462, 0.09901475429766743),
 (4587, 0.09901475429766743),
 (275, 0.09723055853282464),
 (973, 0.09723055853282464),
 (1097, 0.0955394632947723),
 (1982, 0.09553946329477228),
 (1444, 0.09513029883089881),
 (2740, 0.0942285694863091),
 (461, 0.0939336436627724),
 (568, 0.0939336436627724),
 (2873, 0.09335200560186731),
 (661, 0.09249945801257606),
 (2760, 0.09249945801257606),
 (3630, 0.09249945801257606),
 (91, 0.09240616554505461),
 (2674, 0.09166984970282112),
 (67, 0.09095085938862485),
 (1178, 0.09095085938862485),
 (3409, 0.09095085938862485),
 (1741, 0.09086217008485092),
 (4506, 0.0893088561378213),
 (2099, 0.08856148855400953),
 (1715, 0.08856148855400951),
 (1002, 0.08712136837380642),
 (2247, 0.08696565534786725),
 (3164, 0.08696565534786725),
 (3622, 0.08696565534786725),
 (4079, 0.08696565534786725),
 (168, 0.08574929257125441),
 (189, 0.08574929257125441),
 (1015, 0.08574929257125441),
 (1045, 0.08574929257125441),
 (1194, 0.08574929257125441),
 (1771, 0.08574929257125441),
 (2551, 0.08574929257125441),
 (3117, 0.08574929257125441),
 (3716, 0.08574929257125441),
 (4230, 0.08574929257125441),
 (589, 0.0850871259623034),
 (26, 0.08458258116519013),
 (754, 0.08458258116519013),
 (937, 0.08346223261119858),
 (1344, 0.08346223261119858),
 (2148, 0.08346223261119858),
 (2219, 0.08346223261119858),
 (2556, 0.08346223261119858),
 (3874, 0.08346223261119858),
 (307, 0.08328707558159618),
 (1254, 0.08318903308077029),
 (1488, 0.08318903308077029),
 (1497, 0.08318903308077029),
 (2772, 0.08318903308077029),
 (2999, 0.08318903308077029),
 (3839, 0.08318903308077029),
 (4011, 0.08318903308077029),
 (4545, 0.08258401390153339),
 (111, 0.08238525545716345),
 (445, 0.08238525545716345),
 (1831, 0.08238525545716345),
 (4268, 0.08238525545716345),
 (1745, 0.08084520834544433),
 (2456, 0.08084520834544433),
 (3147, 0.08084520834544433),
 (52, 0.08035073760083702),
 (108, 0.08035073760083702),
 (239, 0.07868894753646336),
 (249, 0.07868894753646336),
 (3976, 0.07868894753646336),
 (95, 0.07845986714489121),
 (900, 0.07845986714489121),
 (1273, 0.07845986714489121),
 (1765, 0.07845986714489121),
 (2241, 0.07845986714489121),
 (3235, 0.07845986714489121),
 (83, 0.07756315349925287),
 (4483, 0.07756315349925287),
 (476, 0.07669649888473704),
 (2584, 0.07669649888473704),
 (2622, 0.07669649888473704),
 (2787, 0.07669649888473704),
 (3020, 0.07669649888473704),
 (3663, 0.07669649888473704),
 (3954, 0.07669649888473704),
 (2488, 0.07585826061362604),
 (479, 0.075755401907857),
 (1220, 0.07504691899113898),
 (1846, 0.07504691899113898),
 (668, 0.07484811885651196),
 (1373, 0.07484811885651196),
 (2970, 0.07484811885651196),
 (432, 0.07426106572325057),
 (1418, 0.07426106572325057),
 (2109, 0.07426106572325057),
 (1538, 0.07349939363250378),
 (3881, 0.07349939363250378),
 (94, 0.07312724241271305),
 (134, 0.07312724241271305),
 (368, 0.07312724241271305),
 (1573, 0.07312724241271305),
 (4351, 0.07312724241271305),
 (1512, 0.07276068751089988),
 (2372, 0.07276068751089988),
 (3553, 0.07276068751089988),
 (752, 0.07204381596421111),
 (31, 0.07151985398521515),
 (487, 0.07151985398521515),
 (1486, 0.07151985398521515),
 (3195, 0.07151985398521515),
 (3376, 0.07151985398521515),
 (3537, 0.07151985398521515),
 (4472, 0.07151985398521515),
 (281, 0.07134772412317411),
 (1531, 0.07134772412317411),
 (635, 0.07067142711473183),
 (740, 0.07067142711473183),
 (85, 0.0700140042014005),
 (564, 0.0700140042014005),
 (1274, 0.0700140042014005),
 (1304, 0.0700140042014005),
 (1455, 0.07001400420140048),
 (3093, 0.07001400420140048),
 (170, 0.06937459350943204),
 (541, 0.06875238727711584),
 (244, 0.06859943405700353),
 (931, 0.06859943405700353),
 (2741, 0.06859943405700353),
 (3736, 0.06859943405700353),
 (274, 0.06843538575349505),
 (102, 0.06755660236665673),
 (1878, 0.06755660236665673),
 (2203, 0.06755660236665673),
 (294, 0.06726727939963124),
 (2093, 0.06726727939963124),
 (2718, 0.06726727939963124),
 (3449, 0.06726727939963124),
 (4652, 0.06726727939963124),
 (139, 0.06642111641550713),
 (3441, 0.06642111641550713),
 (581, 0.06600983619844494),
 (2060, 0.06600983619844494),
 (3109, 0.06600983619844494),
 (3135, 0.06600983619844494),
 (4408, 0.06600983619844494),
 (4468, 0.06600983619844494),
 (17, 0.06587443126365883),
 (1439, 0.06587443126365883),
 (1405, 0.06534102628035482),
 (2648, 0.0653410262803548),
 (3331, 0.06511170133930119),
 (141, 0.06482037235521643),
 (363, 0.06482037235521643),
 (678, 0.06482037235521643),
 (787, 0.06482037235521643),
 (1207, 0.06482037235521643),
 (1356, 0.06482037235521643),
 (1775, 0.06482037235521643),
 (2216, 0.06482037235521643),
 (2660, 0.06482037235521643),
 (2955, 0.06482037235521643),
 (3448, 0.06482037235521643),
 (3634, 0.06482037235521643),
 (4046, 0.06482037235521643),
 (4793, 0.06482037235521643),
 (1007, 0.06431196942844081),
 (286, 0.06381534447172756),
 (1534, 0.06381534447172756),
 (2397, 0.06381534447172756),
 (775, 0.06369297552984819),
 (1301, 0.06369297552984819),
 (1427, 0.06369297552984819),
 (3131, 0.06369297552984819),
 (3301, 0.06369297552984819),
 (4042, 0.06369297552984819),
 (4112, 0.06369297552984819),
 (4125, 0.06369297552984819),
 (1659, 0.06333004963811235),
 (1926, 0.06333004963811235),
 (246, 0.06285566056425843),
 (785, 0.06285566056425843),
 (3560, 0.06285566056425843),
 (87, 0.06262242910851494),
 (422, 0.06262242910851494),
 (701, 0.06262242910851494),
 (1378, 0.06262242910851494),
 (1616, 0.06262242910851494),
 (1929, 0.06262242910851494),
 (2496, 0.06262242910851494),
 (4578, 0.06262242910851494),
 (4754, 0.06262242910851494),
 (1491, 0.06237343238042664),
 (295, 0.06160411036336974),
 (1031, 0.06160411036336974),
 (2768, 0.06160411036336974),
 (3754, 0.06160411036336974),
 (18, 0.06149400462680908),
 (127, 0.06105941257599791),
 (2570, 0.06105941257599791),
 (1574, 0.0610594125759979),
 (3, 0.06063390625908324),
 (449, 0.06063390625908323),
 (626, 0.06063390625908323),
 (1161, 0.06063390625908323),
 (2232, 0.06063390625908323),
 (2593, 0.06063390625908323),
 (3008, 0.06063390625908323),
 (3084, 0.06063390625908323),
 (3919, 0.06063390625908323),
 (4097, 0.06063390625908323),
 (4246, 0.06063390625908323),
 (206, 0.059808916712167495),
 (21, 0.05970814340265321),
 (1519, 0.05970814340265321),
 (1808, 0.05970814340265321),
 (3431, 0.05940885257860044),
 (126, 0.05882352941176469),
 (313, 0.05882352941176469),
 (680, 0.05882352941176469),
 (1237, 0.05882352941176469),
 (2552, 0.05882352941176469),
 (2644, 0.05882352941176469),
 (3182, 0.05882352941176469),
 (4558, 0.05882352941176469),
 (790, 0.05863223287455781),
 (901, 0.05797710356524483),
 (2181, 0.05797710356524483),
 (2295, 0.05797710356524483),
 (2902, 0.05797710356524483),
 (3233, 0.05797710356524483),
 (3340, 0.05797710356524483),
 (229, 0.05788529495093047),
 (223, 0.057166195047502935),
 (632, 0.057166195047502935),
 (687, 0.057166195047502935),
 (1086, 0.057166195047502935),
 (1231, 0.057166195047502935),
 (1294, 0.057166195047502935),
 (1747, 0.057166195047502935),
 (2115, 0.057166195047502935),
 (2419, 0.057166195047502935),
 (2432, 0.057166195047502935),
 (2817, 0.057166195047502935),
 (3299, 0.057166195047502935),
 (3507, 0.057166195047502935),
 (3720, 0.057166195047502935),
 (3755, 0.057166195047502935),
 (4757, 0.057166195047502935),
 (75, 0.056388387443460086),
 (312, 0.056388387443460086),
 (369, 0.056388387443460086),
 (430, 0.056388387443460086),
 (492, 0.056388387443460086),
 (737, 0.056388387443460086),
 (855, 0.056388387443460086),
 (988, 0.056388387443460086),
 (4341, 0.056388387443460086),
 (3212, 0.05601120336112039),
 (166, 0.05564148840746572),
 (1109, 0.05564148840746572),
 (2449, 0.05564148840746572),
 (2938, 0.05564148840746572),
 (3028, 0.05564148840746572),
 (3673, 0.05564148840746572),
 (4624, 0.05564148840746572),
 (160, 0.05547950410914818),
 (7, 0.05492350363810897),
 (365, 0.05492350363810897),
 (510, 0.05492350363810897),
 (643, 0.05492350363810897),
 (885, 0.05492350363810897),
 (1297, 0.05492350363810897),
 (1823, 0.05492350363810897),
 (2253, 0.05492350363810897),
 (2440, 0.05492350363810897),
 (2450, 0.05492350363810897),
 (3864, 0.05492350363810897),
 (361, 0.05423261445466404),
 (1070, 0.05423261445466404),
 (1614, 0.05423261445466404),
 (2813, 0.05423261445466404),
 (3935, 0.05423261445466404),
 (4205, 0.05423261445466404),
 (4512, 0.05423261445466404),
 (4640, 0.05423261445466404),
 (266, 0.053567158400558014),
 (480, 0.053567158400558014),
 (908, 0.053567158400558014),
 (1401, 0.053567158400558014),
 (3022, 0.053567158400558014),
 (3305, 0.053567158400558014),
 (3478, 0.053567158400558014),
 (3783, 0.053567158400558014),
 (4087, 0.053567158400558014),
 (614, 0.05292561240249631),
 (647, 0.05292561240249631),
 (871, 0.05292561240249631),
 (1145, 0.05292561240249631),
 (2021, 0.05292561240249631),
 (3423, 0.05292561240249631),
 (4080, 0.05292561240249631),
 (4265, 0.05292561240249631),
 (4019, 0.05278615073083401),
 (729, 0.05230657809659414),
 (1970, 0.05230657809659414),
 (2592, 0.05230657809659414),
 (3206, 0.05230657809659414),
 (3475, 0.05230657809659414),
 (3737, 0.05230657809659414),
 (3838, 0.05230657809659414),
 (278, 0.051708768999501914),
 (473, 0.051708768999501914),
 (1629, 0.051708768999501914),
 (2331, 0.051708768999501914),
 (2376, 0.051708768999501914),
 (2529, 0.051708768999501914),
 (2701, 0.051708768999501914),
 (3393, 0.051708768999501914),
 (3497, 0.051708768999501914),
 (3733, 0.051708768999501914),
 (2519, 0.051449575542752646),
 (182, 0.05113099925649136),
 (704, 0.05113099925649136),
 (1432, 0.05113099925649136),
 (1446, 0.05113099925649136),
 (1617, 0.05113099925649136),
 (1847, 0.05113099925649136),
 (2650, 0.05113099925649136),
 (3300, 0.05113099925649136),
 (3485, 0.05113099925649136),
 (192, 0.050572173742417355),
 (279, 0.050572173742417355),
 (1906, 0.050572173742417355),
 (2002, 0.050572173742417355),
 (3310, 0.050572173742417355),
 (3493, 0.050572173742417355),
 (3748, 0.050572173742417355),
 (847, 0.050435306986068934),
 (777, 0.05003127932742599),
 (3392, 0.05003127932742599),
 (3588, 0.05003127932742599),
 (3910, 0.05003127932742599),
 (4325, 0.05003127932742599),
 (43, 0.049507377148833714),
 (158, 0.049507377148833714),
 (602, 0.049507377148833714),
 (997, 0.049507377148833714),
 (1278, 0.049507377148833714),
 (1698, 0.049507377148833714),
 (1802, 0.049507377148833714),
 (1957, 0.049507377148833714),
 (2018, 0.049507377148833714),
 (2133, 0.049507377148833714),
 (2880, 0.049507377148833714),
 (3225, 0.049507377148833714),
 (3389, 0.049507377148833714),
 (3879, 0.049507377148833714),
 (3978, 0.049507377148833714),
 (4606, 0.049507377148833714),
 (4619, 0.049507377148833714),
 (4679, 0.049507377148833714),
 (123, 0.04899959575500252),
 (671, 0.04899959575500252),
 (3443, 0.04899959575500252),
 (4343, 0.04899959575500252),
 (4392, 0.04899959575500252),
 (228, 0.04850712500726659),
 (331, 0.04850712500726659),
 (1214, 0.04850712500726659),
 (1783, 0.04850712500726659),
 (2130, 0.04850712500726659),
 (3309, 0.04850712500726659),
 (270, 0.04802921064280741),
 (827, 0.04802921064280741),
 (1121, 0.04802921064280741),
 (3174, 0.04802921064280741),
 (866, 0.047565149415449405),
 (1018, 0.047565149415449405),
 (1175, 0.047565149415449405),
 (1530, 0.047565149415449405),
 (1725, 0.047565149415449405),
 (1832, 0.047565149415449405),
 (1958, 0.047565149415449405),
 (2388, 0.047565149415449405),
 (2894, 0.047565149415449405),
 (3180, 0.047565149415449405),
 (3728, 0.047565149415449405),
 (3914, 0.047565149415449405),
 (3930, 0.047565149415449405),
 (3938, 0.047565149415449405),
 (3941, 0.047565149415449405),
 (4448, 0.04736317334630044),
 (5, 0.04711428474315455),
 (1462, 0.04711428474315455),
 (2968, 0.04711428474315455),
 (217, 0.046676002800933654),
 (812, 0.046676002800933654),
 (89, 0.04639051998342824),
 (262, 0.04624972900628803),
 (467, 0.04624972900628803),
 (1396, 0.04624972900628803),
 (1817, 0.04624972900628803),
 (3740, 0.04624972900628803),
 (3810, 0.046203082772527305),
 (48, 0.04583492485141056),
 (84, 0.04583492485141056),
 (251, 0.04583492485141056),
 (1496, 0.04583492485141056),
 (1639, 0.04583492485141056),
 (2671, 0.04583492485141056),
 (2853, 0.04583492485141056),
 (2877, 0.04583492485141056),
 (3070, 0.04583492485141056),
 (3218, 0.04583492485141056),
 (3298, 0.04583492485141056),
 (3519, 0.04583492485141056),
 (3753, 0.04583492485141056),
 (4000, 0.04583492485141056),
 (4236, 0.04583492485141056),
 (4243, 0.04583492485141056),
 (4492, 0.04583492485141056),
 (4555, 0.04583492485141056),
 (4654, 0.04583492485141056),
 (1191, 0.04543108504242546),
 (2498, 0.04543108504242546),
 (3078, 0.04543108504242546),
 (3344, 0.04543108504242546),
 (45, 0.045037734911104486),
 (963, 0.045037734911104486),
 (2439, 0.045037734911104486),
 (3013, 0.045037734911104486),
 (3905, 0.045037734911104486),
 (4798, 0.045037734911104486),
 (733, 0.04465442806891065),
 (63, 0.044280744277004756),
 (455, 0.044280744277004756),
 (584, 0.044280744277004756),
 (808, 0.044280744277004756),
 (897, 0.044280744277004756),
 (1655, 0.044280744277004756),
 (1898, 0.044280744277004756),
 (1922, 0.044280744277004756),
 (2297, 0.044280744277004756),
 (2573, 0.044280744277004756),
 (3072, 0.044280744277004756),
 (3098, 0.044280744277004756),
 (3430, 0.044280744277004756),
 (4139, 0.044280744277004756),
 (4279, 0.044280744277004756),
 (4332, 0.044280744277004756),
 (4412, 0.044280744277004756),
 (4651, 0.044280744277004756),
 (375, 0.04391628750910588),
 (4138, 0.04391628750910588),
 (156, 0.04356068418690321),
 (222, 0.04356068418690321),
 (491, 0.04356068418690321),
 (2663, 0.04356068418690321),
 (2792, 0.04356068418690321),
 (3777, 0.04356068418690321),
 (4627, 0.04356068418690321),
 (4695, 0.04356068418690321),
 (4789, 0.04356068418690321),
 (4310, 0.04321358157014428),
 (4358, 0.04321358157014428),
 (179, 0.042874646285627205),
 (699, 0.042874646285627205),
 (1327, 0.042874646285627205),
 (1782, 0.042874646285627205),
 (1828, 0.042874646285627205),
 (2136, 0.042874646285627205),
 (2205, 0.042874646285627205),
 (2226, 0.042874646285627205),
 (2417, 0.042874646285627205),
 (2621, 0.042874646285627205),
 (2712, 0.042874646285627205),
 (2725, 0.042874646285627205),
 (3069, 0.042874646285627205),
 (3505, 0.042874646285627205),
 (3775, 0.042874646285627205),
 (4044, 0.042874646285627205),
 (4120, 0.042874646285627205),
 (4655, 0.042874646285627205),
 (153, 0.0425435629811517),
 (1130, 0.0425435629811517),
 (2567, 0.0425435629811517),
 (1099, 0.0422200330920749),
 (304, 0.042008402520840295),
 (200, 0.041594516540385144),
 (256, 0.041594516540385144),
 (466, 0.041594516540385144),
 (490, 0.041594516540385144),
 (653, 0.041594516540385144),
 (797, 0.041594516540385144),
 (995, 0.041594516540385144),
 (1282, 0.041594516540385144),
 (1489, 0.041594516540385144),
 (2634, 0.041594516540385144),
 (2762, 0.041594516540385144),
 (3126, 0.041594516540385144),
 (3217, 0.041594516540385144),
 (3781, 0.041594516540385144),
 (4477, 0.041594516540385144),
 (2256, 0.041292006950766694),
 (2729, 0.041292006950766694),
 (4330, 0.041292006950766694),
 (125, 0.04080216746870543),
 (238, 0.040422604172722164),
 (325, 0.040422604172722164),
 (935, 0.040422604172722164),
 (1240, 0.040422604172722164),
 (1413, 0.040422604172722164),
 (1582, 0.040422604172722164),
 (2161, 0.040422604172722164),
 (2479, 0.040422604172722164),
 (2640, 0.040422604172722164),
 (2812, 0.040422604172722164),
 (3103, 0.040422604172722164),
 (3483, 0.040422604172722164),
 (3621, 0.040422604172722164),
 (4474, 0.040422604172722164),
 (81, 0.04014478229518501),
 (301, 0.04014478229518501),
 (1918, 0.04014478229518501),
 (2150, 0.04014478229518501),
 (2367, 0.04014478229518501),
 (2539, 0.04014478229518501),
 (2920, 0.04014478229518501),
 (4100, 0.04014478229518501),
 (799, 0.039872611141445),
 (1487, 0.039872611141445),
 (230, 0.039605901719066965),
 (939, 0.039605901719066965),
 (56, 0.03934447376823168),
 (418, 0.03934447376823168),
 (505, 0.03934447376823168),
 (506, 0.03934447376823168),
 (669, 0.03934447376823168),
 (1689, 0.03934447376823168),
 (1884, 0.03934447376823168),
 (1911, 0.03934447376823168),
 (2445, 0.03934447376823168),
 (2581, 0.03934447376823168),
 (2854, 0.03934447376823168),
 (2913, 0.03934447376823168),
 (3129, 0.03934447376823168),
 (3223, 0.03934447376823168),
 (3488, 0.03934447376823168),
 (3678, 0.03934447376823168),
 (3996, 0.03934447376823168),
 (4559, 0.03934447376823168),
 (4632, 0.03934447376823168),
 (2474, 0.03908815524970521),
 (3201, 0.03883678186903086),
 (308, 0.03834824944236852),
 (624, 0.03834824944236852),
 (693, 0.03834824944236852),
 (1328, 0.03834824944236852),
 (1706, 0.03834824944236852),
 (1849, 0.03834824944236852),
 (2435, 0.03834824944236852),
 (2457, 0.03834824944236852),
 (2623, 0.03834824944236852),
 (2763, 0.03834824944236852),
 (2783, 0.03834824944236852),
 (3240, 0.03834824944236852),
 (3886, 0.03834824944236852),
 (3891, 0.03834824944236852),
 (4216, 0.03834824944236852),
 (4486, 0.03834824944236852),
 (1477, 0.0378777009539285),
 (2032, 0.0378777009539285),
 (105, 0.03742405942825598),
 (157, 0.03742405942825598),
 (319, 0.03742405942825598),
 (570, 0.03742405942825598),
 (616, 0.03742405942825598),
 (621, 0.03742405942825598),
 (791, 0.03742405942825598),
 (916, 0.03742405942825598),
 (1381, 0.03742405942825598),
 (1447, 0.03742405942825598),

In [119]:
# Now we only need to grab the first 5 indexes (expect the one of the movie itself)
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])[1:6] 
# now we have the top 5 movies that are similar to movie 0

[(1216, 0.25142264225703365),
 (2409, 0.24404676504598818),
 (582, 0.21613144789263333),
 (507, 0.20812378052829614),
 (3730, 0.20797258270192573)]

In [123]:
def recommend(movie):
    movie_index = final_df[final_df['title'] == movie].index[0] # gives us the index of movie we pass
    distances = similarity[movie_index]
    # sorting the distances
    movie_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6] 
    
    for i in movie_list:
        # print(i[0]) if we do this we will only get the index of the movies which is not so useful
        print(final_df.iloc[i[0]].title)

In [124]:
recommend('Batman Begins')

The Dark Knight
Batman
Batman
Batman v Superman: Dawn of Justice
Synecdoche, New York

In [125]:
recommend('Avatar')

Aliens vs Predator: Requiem
Aliens
Battle: Los Angeles
Independence Day
Falcon Rising

In [126]:
recommend('Fight Club')

This Is Martin Bonner
Fight Valley
Paint Your Wagon
Death Race
Slither